.qm-booking-flow {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  height: 100%;

  &__col {
    height: 48vh;

    &--time-col {
      flex: 0 0 140px;
    }

    &--date-col {
      flex: 0 1 $booking-list-width;
    }

    &--info-col {
      height: 40vh;
    }
  }
}

@media screen and (min-width: #{map-get($grid-breakpoints, 'xl')}) {
  .qm-booking-flow {
    &__row {
      margin-left: -$standard-margin;
      margin-right: -$standard-margin;
    }

    &__col {
      height: 48vh;
      padding-left: $standard-margin;
      padding-right: $standard-margin;

      &--info-col {
        height: 40vh;
      }
    }
  }
}
