.toast-container {
  margin: rem(0 $standard-margin 0 $standard-margin);
  width: 100%;
}

.toast-close-button {
  flex: 0 0 20px;
  color: $light-transparent42;
  border: 0;
  background: transparent;
  cursor: pointer;
  order: 1;

  span {
    @include sr-only();
  }

  &:before {
    content: "\e907";
    @extend .icomoon-styles;
    font-size: rem(16px);
  }

  &:hover,
  &:focus,
  &:active {
    &:before {
      color: $toast-text-color;
    }
  }
}

// Block
.qm-toast {
  display: flex;
  padding: rem($standard-padding 24px $standard-padding);
  color: $toast-text-color;
  background: $tertiary-color;
  max-width: 570px;
  width: 100%;
  z-index: 3;
  margin: 0 auto;

  & + & {
    border-top: 1px solid $light-transparent42;
  }

  // Elements
  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__icon {
    font-size: rem(28px);
    margin-right: rem($standard-margin / 2);

    @at-root [dir='rtl'] & {
      margin-right: 0;
      margin-left: rem($standard-margin / 2);
    }
  }

  &__message {
    flex: 1 1 auto;
    padding-right: rem($standard-padding * 2);

    @at-root [dir='rtl'] & {
      text-align: right;
      padding-right: 0;
      padding-left: rem($standard-padding * 2);
    }
  }

  // Modifiers
  &--success {
    background: $toast-success-background-color;
  }

  &--danger {
    background: $toast-error-background-color;
  }
}


