<div class="qm-app-list-table-container">
  <h2 class="qm-app-list-table-container__heading">Appointments List from Colombo </h2>
  <hr>
  <div>
    <div class="qm-app-list-table-container__filters">
      <div>
        Search <input type="text">
      </div>
      <div>
        show <select name="" id="">
          <option value="1"> 1 </option>
        </select>
      </div>
      <div class="qm-app-list-table-container__filters-reports">
        <button class="qm-app-list-table-container__filters-button"> PDF</button>
        <button class="qm-app-list-table-container__filters-button"> XLS</button>
      </div>
    </div>
    <hr>
    <div class="qm-app-list-table-container-list">
      <table id="app-list">
        <tr>
          <th>Date</th>
          <th>Start</th>
          <th>End</th>
          <th>DL</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Resource</th>
          <th>Note/ Conf</th>
          <th>Services</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Updated</th>
          <th>Status</th>
          <th>Booking Ref</th>
          <th>Tech ID</th>
          <th>Override Reason Code</th>
          <th>Override TimeStamp</th>
        </tr>
        <tr>
          <td>2020/04/01</td>
          <td>05:00AM</td>
          <td>05:05AM</td>
        </tr>
        <tr>
          <td>2020/04/01</td>
          <td>05:00AM</td>
          <td>05:05AM</td>
        </tr>
        <tr>
          <td>2020/04/01</td>
          <td>05:00AM</td>
          <td>05:05AM</td>
        </tr>
        <tr>
          <td>2020/04/01</td>
          <td>05:00AM</td>
          <td>05:05AM</td>
        </tr>
      </table>
    </div>
    <div> Showing items from 1 to 10 of 100 items </div>
    <div class="qm-app-list-table-container__pagination">
      <div class="qm-app-list-table-container__pagination-element">
        < </div>
          <div class="qm-app-list-table-container__pagination-element"> 1 </div>
          <div class="qm-app-list-table-container__pagination-element"> 2 </div>
          <div class="qm-app-list-table-container__pagination-element"> 3 </div>
          <div class="qm-app-list-table-container__pagination-element"> > </div>
      </div>
    </div>
  </div>