<div class="qm-app-list-table-container" [dir]="userDirection$ | async"> 
  <h2 class="qm-app-list-table-container__heading" *ngIf="!appointmentsLoaded && fulAppointmentList && fulAppointmentList.length > 0"> {{'label.list.heading' | translate}} <span
      *ngIf="branchName"> {{branchName}}</span> </h2>
  <hr>
  <div>
    <div class="qm-app-list-table-container__filters" *ngIf="!appointmentsLoaded && fulAppointmentList && fulAppointmentList.length > 0">
      <div style="display: flex;">
        {{'label.list.search' | translate}}   
        <div class="qm-app-list-table-container__input-box">
          <input type="text" (change)="onSearchTxtChanged()" (keyup)="onSearchTxtChanged()" [(ngModel)]="searchText">
          <span class="close-btn-container"><i class="qm-booking-history-item__small-icon icon-close-smaller close-btn" (click)="clear()" aria-hidden="true" *ngIf="searchText"></i> </span>
          
        </div>
        
      </div>
      <div>
        {{'label.list.show' | translate}} <select name="" id="" (change)="onChangeElementsPerpage($event.target.value)">
          <option value="5"> 5 </option>
          <option value="10"> 10 </option>
          <option value="20"> 20 </option>
          <option value="100"> 100 </option>
        </select>
      </div>
      <div class="qm-app-list-table-container__filters-reports">
        <button class="qm-app-list-table-container__filters-button" (click)="exportToPdf()">    {{'label.list.pdf' | translate}}</button>
        <button class="qm-app-list-table-container__filters-button" (click)="exportToExcel()">  {{'label.list.xls' | translate}}</button>
      </div>
    </div>
    <hr>

    <div class="qm-loader-container" *ngIf="appointmentsLoaded">
      <qm-loader></qm-loader>
    </div>

    <div class="qm-app-list-table-container-list" *ngIf="!appointmentsLoaded && fulAppointmentList && fulAppointmentList.length > 0">
      <table id="app-list">
        <tr>
          <th *ngIf="(settingsMap.ListDate && settingsMap.ListDate.value) || settingsMap.ListDate == 'undefined'">
            {{'label.list.date' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('DATE')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'DATE' && sortByAsc) || (sortByCondition !== 'DATE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListStart && settingsMap.ListStart.value) || settingsMap.ListStart == 'undefined'">  {{'label.list.start' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('START')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'START' && sortByAsc) || (sortByCondition !== 'START' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListEnd && settingsMap.ListEnd.value) || settingsMap.ListEnd == 'undefined'">{{'label.list.end' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('END')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'END' && sortByAsc) || (sortByCondition !== 'END' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListFirstName && settingsMap.ListFirstName.value) || settingsMap.ListFirstName == 'undefined'">{{'label.list.first.name' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('FIRST_NAME')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'FIRST_NAME' && sortByAsc) || (sortByCondition !== 'FIRST_NAME' && !sortByAsc))  ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListLastName && settingsMap.ListLastName.value) || settingsMap.ListLastName == 'undefined'"> {{'label.list.last.name' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('LAST_NAME')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'LAST_NAME' && sortByAsc) || (sortByCondition !== 'LAST_NAME' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListResource && settingsMap.ListResource.value) || settingsMap.ListResource == 'undefined'"> {{'label.list.resource' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('RESOURCE')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'RESOURCE' && sortByAsc) || (sortByCondition !== 'RESOURCE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListNotesConf && settingsMap.ListNotesConf.value) || settingsMap.ListNotesConf == 'undefined'"> {{'label.list.notes' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('NOTE')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'NOTE' && sortByAsc) || (sortByCondition !== 'NOTE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListServices && settingsMap.ListServices.value) || settingsMap.ListServices == 'undefined'">  {{'label.list.services' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('SERVICES')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'SERVICES' && sortByAsc) || (sortByCondition !== 'SERVICES' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListEmail && settingsMap.ListEmail.value) || settingsMap.ListEmail == 'undefined'" >{{'label.list.email' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('EMAIL')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'EMAIL' && sortByAsc) || (sortByCondition !== 'EMAIL' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListPhoneNumber && settingsMap.ListPhoneNumber.value) || settingsMap.ListPhoneNumber == 'undefined'"> {{'label.list.phone' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('PHONE')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'PHONE' && sortByAsc) || (sortByCondition !== 'PHONE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListUpdated && settingsMap.ListUpdated.value) || settingsMap.ListUpdated == 'undefined'"> {{'label.list.updated' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('UPDATED')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'UPDATED' && sortByAsc) || (sortByCondition !== 'UPDATED' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
          <th *ngIf="(settingsMap.ListStatus && settingsMap.ListStatus.value) || settingsMap.ListStatus == 'undefined'">{{'label.list.status' | translate}} 
            <button class="qm-transparent-btn" (click)="sortByChange('STATUS')">
              <i class="sort-icon"
                [ngClass]="((sortByCondition === 'STATUS' && sortByAsc) || (sortByCondition !== 'STATUS' && !sortByAsc))? 'icon-caret-down': 'icon-caret-up'"></i>
              <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
            </button>
          </th>
      
        </tr>
        <tr  *ngIf="!appointmentsLoaded && (fulAppointmentList && fulAppointmentList.length > 0) && appointmentList.length === 0 ">
          <td colspan="100%">   {{'label.list.no.items' | translate}} " {{searchText}} "</td>
        </tr>
        <tr *ngIf= "allFeildsDisabled"
        > <td colspan="100%">  Please enable atleast one field from setting </td>  </tr>
        <tr *ngFor="let appointment of appointmentList | slice: (currentPage-1) * elementsPerPage : currentPage * elementsPerPage">
          <td  *ngIf="(settingsMap.ListDate && settingsMap.ListDate.value) || settingsMap.ListDate == 'undefined'"> {{ appointment.startTime | amDateFormat: 'DD-MM-YYYY' }}</td>
          <td *ngIf="(settingsMap.ListStart && settingsMap.ListStart.value) || settingsMap.ListStart == 'undefined'"> {{ appointment.startTime | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm A') }}</td>
          <td *ngIf="(settingsMap.ListEnd && settingsMap.ListEnd.value) || settingsMap.ListEnd == 'undefined'"> {{ appointment.endTime | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm A') }}</td>
          <td *ngIf="(settingsMap.ListFirstName && settingsMap.ListFirstName.value) || settingsMap.ListFirstName == 'undefined'"> <span *ngIf="appointment.customers.length > 0"> {{ appointment.customers[0].firstName }}</span></td>
          <td *ngIf="(settingsMap.ListLastName && settingsMap.ListLastName.value) || settingsMap.ListLastName == 'undefined'">  <span *ngIf="appointment.customers.length > 0"> {{ appointment.customers[0].lastName }}</span></td>
          <td *ngIf="(settingsMap.ListResource && settingsMap.ListResource.value) || settingsMap.ListResource == 'undefined'"> {{ appointment.resourceName }}</td>
          <td *ngIf="(settingsMap.ListNotesConf && settingsMap.ListNotesConf.value) || settingsMap.ListNotesConf == 'undefined'"> {{ getNotes(appointment.properties.notes) }}</td>
          <td *ngIf="(settingsMap.ListServices && settingsMap.ListServices.value) || settingsMap.ListServices == 'undefined'"> <span *ngIf="appointment.services.length > 0">{{ appointment.services[0].name }}</span></td>
          <td *ngIf="(settingsMap.ListEmail && settingsMap.ListEmail.value) || settingsMap.ListEmail == 'undefined'" >  <span *ngIf="appointment.customers.length > 0">{{ appointment.customers[0].properties.email }}</span></td>
          <td *ngIf="(settingsMap.ListPhoneNumber && settingsMap.ListPhoneNumber.value) || settingsMap.ListPhoneNumber == 'undefined'"> <span *ngIf="appointment.customers.length > 0">{{ appointment.customers[0].properties.phoneNumber }} </span></td>
          <td  *ngIf="(settingsMap.ListUpdated && settingsMap.ListUpdated.value) || settingsMap.ListUpdated == 'undefined'"> {{ appointment.updateTime | amDateFormat: (isMilitaryTime ? 'DD-MM-YYYY - HH:mm' : 'DD-MM-YYYY - hh:mm
            A') }}</td>
          <td *ngIf="(settingsMap.ListStatus && settingsMap.ListStatus.value) || settingsMap.ListStatus == 'undefined'"> {{ appointment.status }}</td>
        </tr>
      </table>
    </div>

    <!-- Fake table for downloading pdf and xls -->
    <div class="qm-app-list-table-container-fake-list" aria-hidden="true" *ngIf="!appointmentsLoaded && fulAppointmentList && fulAppointmentList.length > 0">
      <table id="app-full-list">
        <tr>
          <th *ngIf="(settingsMap.ListDate && settingsMap.ListDate.value) || settingsMap.ListDate == 'undefined'">
            {{'label.list.date' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListStart && settingsMap.ListStart.value) || settingsMap.ListStart == 'undefined'">  {{'label.list.start' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListEnd && settingsMap.ListEnd.value) || settingsMap.ListEnd == 'undefined'">{{'label.list.end' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListFirstName && settingsMap.ListFirstName.value) || settingsMap.ListFirstName == 'undefined'">{{'label.list.first.name' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListLastName && settingsMap.ListLastName.value) || settingsMap.ListLastName == 'undefined'"> {{'label.list.last.name' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListResource && settingsMap.ListResource.value) || settingsMap.ListResource == 'undefined'"> {{'label.list.resource' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListNotesConf && settingsMap.ListNotesConf.value) || settingsMap.ListNotesConf == 'undefined'"> {{'label.list.notes' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListServices && settingsMap.ListServices.value) || settingsMap.ListServices == 'undefined'">  {{'label.list.services' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListEmail && settingsMap.ListEmail.value) || settingsMap.ListEmail == 'undefined'">{{'label.list.email' | translate}}
          </th>
          <th *ngIf="(settingsMap.ListPhoneNumber && settingsMap.ListPhoneNumber.value) || settingsMap.ListPhoneNumber == 'undefined'"> {{'label.list.phone' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListUpdated && settingsMap.ListUpdated.value) || settingsMap.ListUpdated == 'undefined'"> {{'label.list.updated' | translate}} 
          </th>
          <th *ngIf="(settingsMap.ListStatus && settingsMap.ListStatus.value) || settingsMap.ListStatus == 'undefined'">{{'label.list.status' | translate}} 
          </th>
      
        </tr>
        <tr *ngFor="let appointment of fulAppointmentList">
          <td *ngIf="(settingsMap.ListDate && settingsMap.ListDate.value) || settingsMap.ListDate == 'undefined'"> {{ appointment.startTime | amDateFormat: 'DD-MM-YYYY'}}  </td>
          <td *ngIf="(settingsMap.ListStart && settingsMap.ListStart.value) || settingsMap.ListStart == 'undefined'"> {{ appointment.startTime | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm A') }}</td>
          <td *ngIf="(settingsMap.ListEnd && settingsMap.ListEnd.value) || settingsMap.ListEnd == 'undefined'"> {{ appointment.endTime | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm A') }}</td>
          <td *ngIf="(settingsMap.ListFirstName && settingsMap.ListFirstName.value) || settingsMap.ListFirstName == 'undefined'"> <span *ngIf="appointment.customers.length > 0"> {{ appointment.customers[0].firstName }}</span></td>
          <td *ngIf="(settingsMap.ListLastName && settingsMap.ListLastName.value) || settingsMap.ListLastName == 'undefined'">  <span *ngIf="appointment.customers.length > 0"> {{ appointment.customers[0].lastName }}</span></td>
          <td *ngIf="(settingsMap.ListResource && settingsMap.ListResource.value) || settingsMap.ListResource == 'undefined'"> {{ appointment.resourceName }}</td>
          <td *ngIf="(settingsMap.ListNotesConf && settingsMap.ListNotesConf.value) || settingsMap.ListNotesConf == 'undefined'"> {{ getNotes(appointment.properties.notes) }}</td>
          <td *ngIf="(settingsMap.ListServices && settingsMap.ListServices.value) || settingsMap.ListServices == 'undefined'"> <span *ngIf="appointment.services.length > 0">{{ appointment.services[0].name }}</span></td>
          <td *ngIf="(settingsMap.ListEmail && settingsMap.ListEmail.value) || settingsMap.ListEmail == 'undefined'" >  <span *ngIf="appointment.customers.length > 0">{{ appointment.customers[0].properties.email }}</span></td>
          <td *ngIf="(settingsMap.ListPhoneNumber && settingsMap.ListPhoneNumber.value) || settingsMap.ListPhoneNumber == 'undefined'"> <span *ngIf="appointment.customers.length > 0">{{ appointment.customers[0].properties.phoneNumber }} </span></td>
          <td  *ngIf="(settingsMap.ListUpdated && settingsMap.ListUpdated.value) || settingsMap.ListUpdated == 'undefined'"> {{ appointment.updateTime | amDateFormat: (isMilitaryTime ? 'DD-MM-YYYY - HH:mm' : 'DD-MM-YYYY - hh:mm
            A') }}</td>
          <td *ngIf="(settingsMap.ListStatus && settingsMap.ListStatus.value) || settingsMap.ListStatus == 'undefined'"> {{ appointment.status }}</td>
        </tr>
      </table>
    </div>
    <!-- End of fake table -->
    <div style="display: flex;" *ngIf="appointmentList && appointmentList.length > 0 && !appointmentsLoaded"> 
    {{updateDetailList()}}
    </div>
    <div class="qm-pagination-container" *ngIf="!allFeildsDisabled">
      <ngb-pagination *ngIf="!appointmentsLoaded && appointmentList && appointmentList.length > 0" [(page)]="currentPage" [pageSize]="elementsPerPage" [collectionSize]="appointmentList.length" [maxSize]="10" [boundaryLinks]="true"></ngb-pagination>
    </div>
      
    
    <div class="qm-no-appointment" *ngIf="!appointmentsLoaded && fulAppointmentList.length == 0 ">
      <div class="qm-no-appointment__text">
        {{'label.list.entry.label' | translate}} 
       
      </div>
    </div>
  </div>