@import '../../../../styles/base/_component-manifest.scss';
@import 'icon-item';

:host {
  //height: 100%;
  display: flex;
  height: calc(100% - 64px);
  width: 100%;

}

:host ::ng-deep .qm-clear-input-button {
  position: absolute;
  right: rem($base-unit /2);
  //top: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: rem(16px);

  @at-root [dir='rtl'] & {
    right: auto;
    left: rem($base-unit / 2);
  }

  ::ng-deep .qm-action-btn__icon{
    color: $dark-transparent42;
    font-size: rem(18px);
  }
}

:host ::ng-deep .qm-clear-search-button {
  position: absolute;
  right: rem($base-unit / 2);
  top: 50%;
  transform: translateY(-50%);
  // top: 9px;
  cursor: pointer;
  color: $dark-transparent42;

  @at-root [dir='rtl'] & {
    right: auto;
    left: rem($base-unit / 2);
  }
}

.qm-booking {
    height: 100%;
    //max-width: rem($booking-list-width);
    width: 100%;

    &__header {
      padding: rem($standard-padding / 2 0);
      margin-bottom: 0;

      @at-root [dir='rtl'] & {
        text-align: right;
      }
    }

    &__header-text {
      display: block;
      font-size: rem(18px);
      line-height: rem(26px);
      color: $dark-transparent82;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__body {
      border: 1px solid $standard-border-color;
      height: calc(100% - 46px);
      display: flex;
      display: -webkit-box; // Chrome bug - Needs the prefixed version first
      flex-direction: column;
    }

    &__search {
      height: rem(62px);
      padding: rem($standard-padding / 2);
    }

    &__list-container {
      display: flex;
      flex-wrap: nowrap;
      height: calc(100% - 62px);
      overflow: hidden;
      width: 100%;
    }

    &__list {
      flex: 1 1 auto;
      position: relative;
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;

      &--empty {
        background: $dark-transparent04;
      }

      &--error {
        background: transparentize($primary-color, 0.88);
      }
    }

    &__sidebar {
      flex: 0 0 36px;
      background: $dark-transparent04;
      height: 100%;
    }

    &--nosearch {

      .qm-booking__body {
        margin-top: rem(62px);
        height: calc(100% - 108px);
      }

      .qm-booking__list-container {
        height: 100%;
      }

      .qm-booking__list {
        height: 100%;
      }
    }
  }

.qm-search {
  position: relative;

  &__input {
    width: 100%;
    border: 1px solid $standard-border-color;
    box-shadow: 0 0 4px 0 $dark-transparent04;
    padding: rem(10px 48px 10px 12px);
    color: $dark-transparent82;
    font-size: rem(18px);
    line-height: rem(24px);
    font-weight: $font-weight-light;
    height: rem(46px);

    @at-root [dir='rtl'] & {
      padding: rem(10px 12px 10px 48px);
    }
  }

  &__btn {
    position: absolute;
    right: rem($base-unit / 2);
    top: 50%;
    transform: translateY(-50%);
    color: $dark-transparent42;

    @at-root [dir='rtl'] & {
      right: auto;
      left: rem($base-unit / 2);
    }

    &--clear {
      z-index: 3;
      .qm-action-btn__icon {
        font-size: rem(18px);
      }
    }
  }
}
