<fieldset class="qm-booking" [ngClass]="{ 'qm-booking--nosearch': searchable === false }" [dir]="userDirection">
  <legend class="qm-booking__header">
    <span class="qm-booking__header-text">{{header}} <span class="qm-required-star" *ngIf="displayAsRequired">*</span></span>
  </legend>
  <div class="qm-booking__body">
    <div *ngIf="searchable === true" class="qm-booking__search">
      <div class="qm-search">
        <label for="{{ uniqueId }}" class="sr-only">{{ header }}</label>
        <input id="{{ uniqueId }}" type="text" class="qm-search__input" (input)="filter(bookingFilter.value); autoCloseService.refreshAutoClose()"
               placeholder="{{ placeholder }}" [ngModel]="searchText" #bookingFilter/>
        <button class="qm-action-btn qm-action-btn--only-icon qm-search__btn" *ngIf="searchText.length === 0">
          <i class="qm-action-btn__icon icon-search qm-search__icon" aria-hidden="true"></i>
          <span class="sr-only">{{ placeholder }}</span>
        </button>
        <button class="qm-action-btn qm-action-btn--only-icon qm-search__btn qm-search__btn--clear" *ngIf="searchText.length > 0" (click)="filter(''); autoCloseService.refreshAutoClose()">
          <i class="qm-action-btn__icon icon-close qm-search__icon" aria-hidden="true"></i>
          <span class="sr-only">{{ 'button.clear.search' | translate }}</span>
        </button>
      </div>
    </div>
    <div class="qm-booking__list-container">
      <div class="qm-booking__sidebar" *ngIf="sidebarEnabled">
        <qm-booking-sidebar (optionClicked)="handleSidebarClick($event)"></qm-booking-sidebar>
      </div>
      <ul class="qm-booking__list">
        <ng-content></ng-content>
      </ul>
    </div>
  </div>
</fieldset>
