<qm-list [userDirection]="userDirection" [searchText]="servicesSearchText" [placeholder]="'label.bookingFlow.services.search.placeholder' | translate" [header]="'label.bookingFlow.services.header' | translate" (search)="filterServices($event)">
  <li *ngFor="let service of services$ | async">
    <qm-list-item [text]="service.name" [userDirection]="userDirection" [name]="'service'" [isSelected]="isServiceSelected(service)" [inputType]="getInputTypeForServices()" (optionClicked)="handleServiceSelection(service)">
    </qm-list-item>
  </li>
</qm-list>
