.qm-modal {
    &__sub-header {
        &-dob {
            .qm-standard-text-field__required {
                padding-left: 14.5em;
                font-weight: 400;
            }
        }
    }
}

.qm-clear-input-button {
    position: absolute;
}

.qm-lang-flex {
    display: flex;
    font-size: 0.875rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 0.62);
    margin-bottom: 5px;
}