
<ul class="qm-appointment-list"  [dir]="userDirection">
  <li #customCard class="qm-appointment-list__item" *ngFor="let appointment of appointments">
    <div class="qm-appointment-card">
      <div class="qm-appointment-card__content-container" tabindex="0" (click)="rescheduleClicked(appointment)" [ngClass]="{ 'qm-appointment-card__content-container--edit' : displayStatus(appointment).showEdit }">
        <span class="qm-appointment-card__headline-container">
          <span class="qm-appointment-card__headline">
          {{ appointment.start | date:'EEEE MMMM d, y': getTimezoneOffset(appointment) }}
          </span>
          <span class="qm-appointment-card__time">
            <i class="qm-appointment-card__time-icon icon-clock" aria-hidden="true"></i>
            <span class="qm-appointment-card__time-text">
              {{ appointment.start | amTz: appointment.branch.fullTimeZone | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm a')  }} - {{ appointment.end | amTz: appointment.branch.fullTimeZone | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm a') }}
            </span>
          </span>
        </span>
        <qm-appointment-icon-list [userDirection]="userDirection" [appointment]="appointment"></qm-appointment-icon-list>
        <span class="qm-appointment-card__text-container" *ngIf="resourceEnabled()">
          <span class="qm-appointment-card__text-label">
            {{ 'label.customerAppointments.resource' | translate }}
          </span>
          <span class="qm-appointment-card__text">
            {{ getResource(appointment) }}
          </span>
        </span>
        <span class="qm-appointment-card__text-container" *ngIf="displayStatus(appointment).showStatus">
          <span class="qm-appointment-card__text-label">
            {{ 'label.appointment.status' | translate }}
          </span>
          <span class="qm-appointment-card__text" [ngClass]="getStatusClass(appointment)">
            {{ getStatusLabel(appointment) | translate }}
          </span>
        </span>
      </div>

      <div class="qm-appointment-card__action-container">
        <button *ngIf="displayStatus(appointment).showCancel" class="qm-action-btn qm-action-btn--only-icon qm-appointment-card__btn" (click)="deleteAppointment(appointment)" title="{{ 'button.customerAppointments.delete' | translate }}">
          <i class="qm-action-btn__icon icon-delete-secondary" aria-hidden="true"></i>
          <span class="sr-only">
            {{ 'button.customerAppointments.delete' | translate }}
          </span>
        </button>

        <button *ngIf="displayStatus(appointment).showPrint" (click)="printAppointment(appointment)" class="qm-action-btn qm-action-btn qm-appointment-card__btn" title="{{ 'button.customerAppointments.print' | translate }}">
          <i class="qm-action-btn__icon icon-print" aria-hidden="true"></i>
          <span class="sr-only">
            {{ 'button.customerAppointments.print' | translate }}
          </span>
        </button>

        <button *ngIf="displayStatus(appointment).showEdit" class="qm-action-btn qm-action-btn qm-appointment-card__btn" (click)="rescheduleClicked(appointment)" title="{{ 'button.customerAppointments.edit' | translate }}">
          <i class="qm-action-btn__icon icon-edit" aria-hidden="true"></i>
          <span class="sr-only">
            {{ 'button.customerAppointments.edit' | translate }}
          </span>
        </button>
      </div>
    </div>
  </li>
</ul>

