@import '../../../../styles/base/_component-manifest.scss';

:host {
  display: block;
  margin-top: rem($standard-margin / 2);
  height: rem($sub-booking-flow-height);
}

.qm-resource-text {
  display: flex;

  &__label {
    font-size: rem(16px);
    color: $dark-transparent82;
    margin-right: rem(4px);

    @at-root [dir='rtl'] & {
      margin-right: 0;
      margin-left: rem(4px);
    }
  }

  &__text {
    font-weight: $font-weight-light;
    font-size: rem(16px);
    color: $dark-transparent82;
  }
}
