<div class="qm-dashboard" dir="{{ userDirection$ | async }}">
  <div class="qm-dashboard__header">
    <div class="row">
      <div class="col-sm-5">
        <div class="qm-full-height">
          <qm-customer-search *ngIf="currentCustomer === null; else customerCard"></qm-customer-search>
          <ng-template #customerCard>
            <qm-customer-card [customer]="currentCustomer"></qm-customer-card>
          </ng-template>
        </div>
      </div>
      <div [ngClass]="(showExpiryReservationTime$ | async) ? {'col-sm-5':true} : {'col-sm-7':true}">
        <div class="qm-full-height" *ngIf="customerAppointmentsAreVisible()">
          <qm-customer-appointments></qm-customer-appointments>
        </div>
      </div>
      <div class="col-sm-2" *ngIf="(showExpiryReservationTime$ | async)">
        <div class="qm-expire-counter-layout">
            <qm-reservation-timer></qm-reservation-timer>
        </div>
      </div>
    </div>
  </div>

  <div class="qm-dashboard__body">
    <div class="qm-dashboard__content">
      <div class="qm-dashboard-row">
        <div class="qm-dashboard-col-12">
          <div class="qm-booking-header">
            <h2 class="qm-headline qm-headline--large">Create new appointment</h2>
          </div>
          <qm-booking-flow></qm-booking-flow>
        </div>
      </div>
      <qm-booking-footer></qm-booking-footer>
    </div>
  </div>
</div>
