<div class="qm-dashboard" dir="{{ userDirection$ | async }}">
  <div class="qm-dashboard__header">
    <div class="row">
      <div class="col-sm-5">
        <div class="qm-full-height">
          <qm-customer-search *ngIf="currentCustomer === null; else customerCard"></qm-customer-search>
          <ng-template #customerCard>
            <qm-customer-card [customer]="currentCustomer"></qm-customer-card>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="qm-full-height" *ngIf="currentCustomer">
          <qm-customer-appointments></qm-customer-appointments>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="qm-expire-counter-layout">

          <div class="qm-expire-counter ">
            <span class="qm-expire-counter__label">Reservation will expire in:</span>
            <span class="qm-expire-counter__time js-expire-counter-time">09:59</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="qm-dashboard__body">
    <div class="qm-dashboard__content">
      <div class="qm-dashboard-row">
        <div class="qm-dashboard-col-9">
          <div class="qm-booking-header">
            <h2 class="qm-headline qm-headline--large">Create new appointment</h2>
          </div>
          <qm-booking-flow></qm-booking-flow>
        </div>
        <div class="qm-dashboard-col-3">
          <div class="qm-booking-information">
            <qm-notify></qm-notify>
            <qm-appointment-title></qm-appointment-title>
            <qm-notes></qm-notes>
          </div>
        </div>
      </div>

      <div class="qm-booking-footer">
        <div class="qm-booking-footer__content qm-generic-layout qm-generic-layout--align-right">
          <button class="qm-btn qm-btn--secondary">
            <span class="qm-btn__text" title="Clear all fields">Clear all fields</span>
          </button>

          <button class="qm-btn qm-btn--primary">
            <span class="qm-btn__text" title="Save appointment">Save appointment</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
