<div class="qm-dashboard" dir="{{ userDirection$ | async }}">
  <div class="qm-dashboard__header">
    <div class="row">
      <div class="col-sm-5">
        <div class="qm-full-height">
          <qm-customer-search *ngIf="currentCustomer === null; else customerCard"></qm-customer-search>
          <ng-template #customerCard>
            <qm-customer-card [customer]="currentCustomer"></qm-customer-card>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="qm-full-height" *ngIf="currentCustomer">
          <qm-customer-appointments></qm-customer-appointments>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="qm-expire-counter-layout">

          <div class="qm-expire-counter ">
            <span class="qm-expire-counter__label">Reservation will expire in:</span>
            <span class="qm-expire-counter__time js-expire-counter-time">09:59</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="qm-dashboard__body">
    <div class="qm-dashboard__content">
      <div class="qm-dashboard-row">
        <div class="qm-dashboard-col-9">
          <div class="qm-dashboard-row no-gutters">
            <div class="col qm-dashboard-col-7">
              <div class="qm-booking-header">
                <div class="row qm-booking-header__row">
                  <div class="col">
                    <h2 class="qm-headline qm-headline--large">Create new appointment</h2>
                  </div>
                </div>
              </div>
              <div class="qm-booking-flow">
                <div class="row qm-booking-flow__row">
                  <div class="col-6 qm-booking-flow__col">
                    <fieldset class="qm-booking">
                        <qm-list [placeholder] = "'Search Services'" [header]="'Services'" (search)="serviceSearch($event)">
                            <qm-select-item  *ngFor="let b of services" (change)="handleBranchSelection(b)">
                              {{b.name}}
                            </qm-select-item>
                          </qm-list>
                    </fieldset>
                  </div>
                  <div class="col-6 qm-booking-flow__col">
                    <qm-list [subheader]="'Neongatan 8, 203 94, A very long city name'"  [placeholder] = "'Search Branches'" [header]="'Branches'" (search)="branchSearch($event)">
                      <qm-list-item *ngFor="let b of branches$ | async">
                        {{b.name}}
                      </qm-list-item>
                    </qm-list>
                  </div>
                </div>
              </div>

            </div>
            <div class="col qm-dashboard-col-5">
              <div class="qm-booking-header">
                <div class="row qm-booking-header__row">
                  <div class="col">
                    <div class="qm-customer-count">
                      <span class="qm-customer-count__label">Customers</span>
                      <div class="qm-customer-count__container">

                        <div class="qm-customer-count__actions-container">
                          <button class="qm-customer-count__btn qm-customer-count__btn--decrease" aria-controls="amountOfCustomers">
                            <i class="qm-customer-count__btn-icon icon-subtract" aria-hidden="true"></i>
                            <span class="sr-only">Decrease the amount of customers by 1</span>
                          </button>
                          <div class="qm-customer-count__input-container">
                            <label for="amountOfCustomers" class="sr-only">Enter number of customers</label>
                            <input id="amountOfCustomers" class="qm-customer-count__input" aria-live="polite" min="0" type="number" name="amountOfCustomers"
                              value="1" />
                          </div>
                          <button class="qm-customer-count__btn qm-customer-count__btn--increase" aria-controls="amountOfCustomers">
                            <i class="qm-customer-count__btn-icon icon-add" aria-hidden="true"></i>
                            <span class="sr-only">Increase the amount of customers by 1</span>
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="qm-booking-flow">
                <div class="row qm-booking-flow__row flex-nowrap">
                  <div class="col qm-booking-flow__col qm-booking-flow__col--date-col">



                    <fieldset class="qm-booking">
                      <legend class="qm-booking__header">
                        <span class="qm-booking__header-text">Date</span>
                      </legend>
                      <div class="qm-booking__body">
                        <div class="qm-booking__search">

                          <div class="qm-search">
                            <label for="dateSearch" class="sr-only">Search date</label>
                            <input id="dateSearch" type="search" class="qm-search__input" placeholder="Search date" name="q" />
                            <button class="qm-action-btn qm-action-btn--only-icon qm-search__btn">
                              <i class="qm-action-btn__icon icon-search qm-search__icon" aria-hidden="true"></i>
                              <span class="sr-only">Search</span>
                            </button>
                          </div>

                        </div>
                        <ul class="qm-booking__list">

                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Monday 19 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Tuesday 20 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Wednesday 21 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Thursday 22 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Friday 23 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Saturday 24 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Sunday 25 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Monday 26 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Tuesday 27 February</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item ">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="date" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">Wednesday 28 February</span>
                              </span>
                            </label>
                          </li>

                        </ul>
                      </div>
                    </fieldset>

                  </div>
                  <div class="col qm-booking-flow__col qm-booking-flow__col--time-col">
                    <fieldset class="qm-booking qm-booking--time">
                      <legend class="qm-booking__header">
                        <span class="qm-booking__header-text">Time</span>
                      </legend>
                      <div class="qm-booking__body">
                        <ul class="qm-booking__list">

                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">07:00</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">07:15</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">07:30</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">07:45</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">08:00</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">08:15</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">08:30</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">08:45</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">09:00</span>
                              </span>
                            </label>
                          </li>


                          <li class="qm-selector-item qm-selector-item--centered">
                            <label class="qm-selector-item__label">
                              <input class="qm-selector-item__input" type="radio" name="time" />
                              <span class="qm-selector-item__selector">
                                <span class="qm-selector-item__selector-text">09:15</span>
                              </span>
                            </label>
                          </li>

                        </ul>
                      </div>
                    </fieldset>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="qm-dashboard-col-3">

          <div class="qm-booking-information">
            <qm-notify></qm-notify>
            <qm-appointment-title></qm-appointment-title>
            <qm-notes></qm-notes>
          </div>
        </div>
      </div>

      <div class="qm-booking-footer">
        <div class="qm-booking-footer__content qm-generic-layout qm-generic-layout--align-right">
          <div class="qm-button-wrapper">
            <qm-button btnClassName="qm-btn--secondary" text="Clear all fields"></qm-button>
            <!--<button class="qm-btn qm-btn--secondary">

              <span class="qm-btn__text" title="Clear all fields">Clear all fields</span>
            </button>-->
          </div>
          <div class="qm-button-wrapper">
            <qm-button btnClassName="qm-btn--primary" text="Save appointment"></qm-button>
          </div>
          <!--<button class="qm-btn qm-btn--primary">

            <span class="qm-btn__text" title="Save appointment">Save appointment</span>
          </button>-->

        </div>
      </div>
    </div>
  </div>
</div>
