<div class="qm-app-list-settings">
  <h1 class="qm-app-list-settings__headline">  {{ 'label.list.settings.heading' | translate }} </h1>
  <hr>

  <div class="qm-app-list-settings__branch">
    {{ 'label.list.branch.heading' | translate }} <br>
    <ng-select [(ngModel)]="branch" notFoundText="{{ 'label.no.items.found' | translate }}"
      placeholder="{{ 'label.list.branch.heading' | translate }}">
      <ng-option *ngFor="let branch of branchlist" [value]="branch.qpId">{{branch.name}}</ng-option>
    </ng-select>
  </div>
  <div class="qm-app-list-settings__dl">
    <div class="qm-standard-text-field">
      <label class="qm-standard-text-field__label">
        <span class="qm-standard-text-field__top-container">
          <span class="qm-standard-text-field__text"> {{ 'label.list.settings.from' | translate }}</span>
        </span>
        <input  class="qm-date-picker" type="text" ngbDatepicker [(ngModel)]="fromDate" #FromDate="ngbDatepicker" />
        <button class="qm-cal-expander" (click)="FromDate.toggle()"> <i
            class="qm-fetch-appointments-btn__icon-background icon-calendar" aria-hidden="true"></i></button>
      </label>
    </div>
  </div>
  <div class="qm-app-list-settings__dl">
    <div class="qm-standard-text-field">
      <label class="qm-standard-text-field__label">
        <span class="qm-standard-text-field__top-container">
          <span class="qm-standard-text-field__text">{{ 'label.list.settings.to' | translate }}</span>
        </span>
        <span class="qm-standard-text-field__input-container">
          <input class="qm-date-picker" type="text" ngbDatepicker [(ngModel)]="toDate" #ToDate="ngbDatepicker" placement="top-left " />
          <button class="qm-cal-expander" (click)="ToDate.toggle()"> <i class="qm-fetch-appointments-btn__icon-background icon-calendar"
              aria-hidden="true"></i></button>
        </span>
      </label>
    </div>
  </div>
  <br>
<!-- <hr> -->
  <div class="qm-modal__footer">
    <div class="qm-generic-layout qm-generic-layout--align-right">
      <button type="button" class="qm-btn qm-btn--secondary " (click)="clear()">
        <span class="qm-btn__text qm-app-list-settings__buttons"  title="{{ 'button.list.clear' | translate }}">
          {{ 'label.list.settings.clear' | translate }}
        </span>
      </button>
      <button class="qm-btn qm-btn--primary" (click)="SearchAppointments()">
        <span class="qm-btn__text qm-app-list-settings__buttons" title="{{ 'button.list.show' | translate }}">
          {{ 'label.list.settings.show' | translate }}
        </span>
      </button>
    </div>
  </div>
</div>