@import '../../../../styles/base/_component-manifest.scss';
@import '~ngx-toastr/toastr';

.qm-app-list-settings {
    // display: flex;
    flex-wrap: wrap;
    background: $white;
    max-height: calc(100% - 60px);
    overflow: auto;
    box-shadow: $dashboard-body-box-shadow;
    border-radius: $standard-border-radius;
    padding: rem($standard-padding * 1.5 $standard-padding * 2);
    margin: 20px;
    &__headline {
        font-weight: 300;
        font-size: 25px;
    }
    hr {
        margin: 20px 0;
    }

    &__branch {
        &-select {
            width: 100%;
            padding: 5px 0;
            margin: 10px 0;
            border-radius: $standard-border-radius;
        }

    }
    &__dl {
        margin: 20px 0;
    }
    &__buttons {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 60px;
    }
}

.qm-standard-text-field__text {
    font-size: 16px;
    color: $black;
}

.qm-modal__footer {
    margin-top: 1rem;
}

.qm-date-picker {
    height: 40px;
    border: 1px solid $dark-transparent22;
    padding: 0px 10px;
}

.qm-cal-expander {
    background: transparent;
    border: 1px solid $dark-transparent22;
    height: 40px;
    width: 40px;
}

:host {
    display: flex;
    height: 100%;
  
  }
  
  .qm-customer-card {
    display: flex;
    align-items: flex-end;
    background: $white;
    box-shadow: $dashboard-body-box-shadow;
    border-radius: $standard-border-radius;
    width: 100%;
  
    &__content-container {
      width: 100%;
      flex: 1 1 auto;
      padding: rem($standard-padding $standard-padding $standard-padding $standard-padding * 1.5);
      border-radius: rem($standard-border-radius);
      margin: rem(6px);
    }
  
    &__headline {
      flex: 0 0 100%;
      font-weight: $font-weight-medium;
      font-size: rem(28px);
      line-height: rem(32px);
      color: black;
      margin-bottom: rem(12px);
  
      @at-root [dir='rtl'] & {
        text-align: right;
      }
    }
  
    &__name {
      display: inline-block;
      color: black;
      word-break: break-all;
      word-break: break-word;
    }
  
    &__branch-name {
      display: inline-block;
      color: black;
      word-break: break-all;
      word-break: break-word;
      margin: 0 2rem;
      font-size: rem(25px);
      font-weight: 400;
    }
  
    &__list-container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: -20px;
      margin-bottom: -25px;
  
      &--justify-end {
        justify-content: flex-end;
      }
    }
  
    &__list {
      flex: 1 1 auto;
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: rem(0 0 $standard-margin / 2);
    }
  
    &__list-item {
      display: flex;
      align-items: center;
  
      & + & {
        margin-top: rem(12px);
      }
    }
  
    &__list-item-icon {
      display: inline-block;
      font-size: rem(28px);
      line-height: rem(24px);
      color: $dark-transparent82;
      margin-right: rem($standard-margin / 2);
  
      @at-root [dir='rtl'] & {
        margin-right: 0;
        margin-left: rem($standard-margin / 2);
      }
    }
  
    &__list-item-text {
      font-size: rem(18px);
      line-height: rem(24px);
      font-weight: $font-weight-light;
      color: $dark-transparent82;
      word-break: break-all;
    }
  
    &__edit-btn {
      flex: 0 0 auto;
      font-size: rem(32px);
      color: $dark-transparent42;
      border-radius: rem($standard-border-radius);
      padding: rem(6px);
    }
  
    &__btn-container {
      display: inline-flex;
      flex: 0 0 auto;
      padding: rem($standard-padding $standard-padding $standard-padding $standard-padding * 2);
    }
  
    &--overview-theme {
      .qm-customer-card__headline {
        color: $dark-transparent82;
      }
      .qm-customer-card__list {
        flex: 1 0 auto;
      }
    }
  }

  .list-setting {

      &__branch {
          width: 35%;
          margin: 35px 1rem;
      }
  }
  

  ::ng-deep .mat-calendar-body-selected {
    background-color: $secondary-color;
}

::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: $secondary-color;
  opacity: 0.7;
} 

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: $secondary-color;
  background-color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color:  $secondary-color !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color:  $secondary-color !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color:  $secondary-color !important;;
}

::ng-deep .mat-form-field-flex {
  align-items: center !important;
}

mat-datepicker-toggle {
  color:  $secondary-color !important;
}
