<div class="qm-app-list-settings">
  <h1 class="qm-app-list-settings__headline"> Settings </h1>
  <hr>

  <div class="qm-app-list-settings__branch">
    {{ 'label.list.branch.heading' | translate }} <br>
    <ng-select [(ngModel)]="branch" notFoundText="{{ 'label.no.items.found' | translate }}"
      placeholder="{{ 'label.list.branch.heading' | translate }}">
      <ng-option *ngFor="let branch of branchlist" [value]="branch.id">{{branch.name}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
  <div class="qm-app-list-settings__dl">
    <div class="qm-standard-text-field">
      <label class="qm-standard-text-field__label">
        <span class="qm-standard-text-field__top-container">
          <span class="qm-standard-text-field__text">From</span>
        </span>
        <input  class="qm-date-picker" type="text" ngbDatepicker [(ngModel)]="fromDate" #FromDate="ngbDatepicker" />
        <button class="qm-cal-expander" (click)="FromDate.toggle()"> <i
            class="qm-fetch-appointments-btn__icon-background icon-calendar" aria-hidden="true"></i></button>
      </label>
    </div>
  </div>
  <div class="qm-app-list-settings__dl">
    <div class="qm-standard-text-field">
      <label class="qm-standard-text-field__label">
        <span class="qm-standard-text-field__top-container">
          <span class="qm-standard-text-field__text">To</span>
        </span>
        <span class="qm-standard-text-field__input-container">
          <input class="qm-date-picker" type="text" ngbDatepicker [(ngModel)]="toDate" #ToDate="ngbDatepicker" />
          <button class="qm-cal-expander" (click)="ToDate.toggle()"> <i class="qm-fetch-appointments-btn__icon-background icon-calendar"
              aria-hidden="true"></i></button>
        </span>
      </label>
    </div>
  </div>
  <br>
<!-- <hr> -->
  <div class="qm-modal__footer">
    <div class="qm-generic-layout qm-generic-layout--align-right">
      <button type="button" class="qm-btn qm-btn--secondary">
        <span class="qm-btn__text" title="{{ 'button.createCustomerForm.cancel' | translate }}">
          Clear
        </span>
      </button>
      <button class="qm-btn qm-btn--primary" (click)="SearchAppointments()">
        <span class="qm-btn__text" title="{{ 'button.createCustomerForm.save' | translate }}">
          Show
        </span>
      </button>
    </div>
  </div>
</div>