<footer class="qm-footer">
    <div *ngIf="systemInformation$ | async as systemInformation" class="qm-footer__content">
        <p class="qm-footer__text"
           *ngIf="(licenseIsValid$ | async); else notLicensed">
          {{ 'label.poweredBy' | translate }} QMATIC
          {{ systemInformation.productName }}
          {{ systemInformation.releaseName }}
          [{{ systemInformation.productVersion }}]
          %APP_VERSION% 
          {{ 'label.licensedTo' | translate }}
          {{ systemInformation.licenseCompanyName }}
        </p>
        <ng-template #notLicensed>
          <p class="qm-footer__text">{{ 'label.notLicensed' | translate }}</p>
        </ng-template>
    </div>
</footer>
