<div class="qm-booking-flow" [dir]="userDirection">
  <div class="row qm-booking-flow__row">
    <div class="col qm-booking-flow__col">
      <qm-service-booker [userDirection]="userDirection" [settingsMap]="settingsMap"></qm-service-booker>
    </div>
    <div class="col qm-booking-flow__col qm-booking-flow__col--customer-col" *ngIf="shouldShowCustomerColumn()">
      <qm-number-of-customers-booker [userDirection]="userDirection" [settingsMap]="settingsMap"></qm-number-of-customers-booker>
    </div>
    <div class="col qm-booking-flow__col">
      <qm-branch-booker [userDirection]="userDirection"></qm-branch-booker>
    </div>
    <div class="col qm-booking-flow__col">
      <qm-date-booker [userDirection]="userDirection"></qm-date-booker>
    </div>
    <div class="col qm-booking-flow__col qm-booking-flow__col--time-col">
      <qm-timeslot-booker [userDirection]="userDirection" [settingsMap]="settingsMap"></qm-timeslot-booker>
    </div>
    <div class="col-3 qm-booking-flow__col">
      <div class="qm-booking-information">
        <qm-notify></qm-notify>
        <qm-appointment-title></qm-appointment-title>
        <qm-notes></qm-notes>
      </div>
    </div>
  </div>
</div>
