<div class="qm-option qm-option--input">
  <label class="qm-option__label" for="{{ setting.name }}" [innerHtml]="'label.settings.' + setting.name.toLowerCase() | translate | htmlDecode">
  </label>
  <span class="qm-option__error qm-option__error--pattern" *ngIf="settingControl?.errors?.pattern">{{'error.settings.number.required' | translate}}</span>
  <div class="qm-option__selection-container">
    <input id="{{ setting.name }}" class="qm-option__input-box" type="text" [formControl]="settingControl" name="{{setting.name}}"
      [value]="setting.value" />
    <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-option__help-btn">
      <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
      <span class="qm-settings-admin__option-list-item__tooltip qm-settings-admin__option-list-item__tooltip--only-input"> {{ 'label.settings.tooltip.' + setting.name.toLowerCase() | translate}}</span>
    </button>
  </div>
</div>