<div class="qm-app">
  <qm-page-header></qm-page-header>
  <qm-main>
    <div class="" style="height: 30%; width: 30%; margin: 10px 20px">
      <qm-customer-search
        *ngIf="currentCustomer === null; else customerCard"
        [addButton]="false"
      ></qm-customer-search>
      <ng-template #customerCard>
        <qm-customer-card [customer]="currentCustomer" style="width: max-content;"></qm-customer-card>
      </ng-template>
    </div>
    
    <div class="qm-app-list-table-container">
      <!-- <h2 class="qm-app-list-table-container__heading"><span>Appointments</span> | <span>Visit Details</span></h2> -->
      <div *ngIf="(!selectedAppointment) && currentCustomer">
        <h2 class="qm-app-list-table-container__heading"  *ngIf="currentCustomer && fulAppointmentList && fulAppointmentList.length > 0">Appointments</h2>
        <br>
        <div class="qm-app-list-table-container__filters" *ngIf="currentCustomer && fulAppointmentList && fulAppointmentList.length > 0">
          <div style="margin-left: 5px;">
            Search <input type="text" (change)="onSearchTxtChanged()" (keyup) = "onSearchTxtChanged()" [(ngModel)] = "searchText" style="margin-left: 12px;">
          </div>
          <div>
            show <select name="" id="" (change)="onChangeElementsPerpage($event.target.value)" style="margin-left: 12px;">
              <option value="5"> 5 </option>
              <option value="10"> 10 </option>
              <option value="20"> 20 </option>
            </select>
          </div>
        </div>
        <hr>
    
        
        <div class="qm-app-list-table-container-list"  *ngIf="currentCustomer && fulAppointmentList && fulAppointmentList.length > 0">
          <table id="app-list">
            <tr style="border-bottom: 6px solid white;margin-left: 12px;">
              <th style="text-align: start;">
                Action Date
                <button class="qm-transparent-btn" (click) = "sortByChange('DATE')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'DATE' && sortByAsc) || (sortByCondition !== 'DATE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button>
              </th>
              <th>Operation
                <button class="qm-transparent-btn" (click) = "sortByChange('OPERATION')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'OPERATION' && sortByAsc) || (sortByCondition !== 'OPERATION' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button>            
              </th>
              <th>Appt Id
                <button class="qm-transparent-btn" (click) = "sortByChange('APP_ID')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'APP_ID' && sortByAsc) || (sortByCondition !== 'APP_ID' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>Start Time
                <button class="qm-transparent-btn" (click) = "sortByChange('START')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'START' && sortByAsc) || (sortByCondition !== 'START' && !sortByAsc))  ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>End Time
                <button class="qm-transparent-btn" (click) = "sortByChange('END')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'END' && sortByAsc) || (sortByCondition !== 'END' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>Branch
                <button class="qm-transparent-btn" (click) = "sortByChange('BRANCH')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'BRANCH' && sortByAsc) || (sortByCondition !== 'BRANCH' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>Resource
                <button class="qm-transparent-btn" (click) = "sortByChange('RESOURCE')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'RESOURCE' && sortByAsc) || (sortByCondition !== 'RESOURCE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>Services
                <button class="qm-transparent-btn" (click) = "sortByChange('SERVICES')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'SERVICES' && sortByAsc) || (sortByCondition !== 'SERVICES' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>Title
                <button class="qm-transparent-btn" (click) = "sortByChange('TITLE')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'TITLE' && sortByAsc) || (sortByCondition !== 'TITLE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>Notes
                <button class="qm-transparent-btn" (click) = "sortByChange('NOTES')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'NOTES' && sortByAsc) || (sortByCondition !== 'NOTES' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
              <th>User
                <button class="qm-transparent-btn" (click) = "sortByChange('USER')">
                  <i class="sort-icon" [ngClass]="((sortByCondition === 'USER' && sortByAsc) || (sortByCondition !== 'USER' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  <!-- <span class="sr-only">{{ sortByVisitIdAsc ? ('button.sortASC' | translate) : ('button.sortDES' | translate) }}</span> -->
                </button> 
              </th>
            </tr>
            <tr style="font-size: 13.5px;margin-top: 10px;" *ngFor="let appointment of actionAppointments | slice: (currentPage-1) * elementsPerPage : currentPage * elementsPerPage" (click)="appointmentSelected(appointment.entityId)">
              <td style="text-align: start;padding: 5px 0px;">{{appointment.timeStamp | amDateFormat: 'DD-MM-YYYY'}} <br>
                {{appointment.timeStamp | amDateFormat: 'hh:mm A'}}
              </td>
              <td [ngClass]="(appointment.operation === 'CREATE' ? 'qm-table-create' : appointment.operation === 'DELETE' ? 'qm-table-delete' : 'qm-table-update')">
                {{appointment.operation}}
              </td>
              <td> <a class="qm-table-link" > {{appointment.entityId}}</a> </td>
              <td [ngClass]="(appointment.operation === 'DELETE' ? 'qm-table-strikethrough' : null)">{{appointment.actionData.start | amDateFormat: 'DD-MM-YYYY'}} <br>
                {{appointment.actionData.start | amDateFormat: 'hh:mm A'}}
              </td>
              <td [ngClass]="(appointment.operation === 'DELETE' ? 'qm-table-strikethrough' : null)">{{appointment.actionData.end | amDateFormat: 'DD-MM-YYYY'}} <br>
                {{appointment.actionData.end | amDateFormat: 'hh:mm A'}}
              </td>
              <td>{{appointment.actionBranch}}</td>
              <td [ngClass]="(appointment.operation === 'DELETE'  ? 'qm-table-strikethrough' : null)">{{appointment.actionData.resource}}</td>
              <td [ngClass]="(appointment.operation === 'DELETE'  ? 'qm-table-strikethrough' : null)">{{appointment.actionData.services}}</td>
              <td [ngClass]="(appointment.operation === 'DELETE'  ? 'qm-table-strikethrough' : null)">{{appointment.actionData.title}}</td>
              <td [ngClass]="(appointment.operation === 'DELETE'  ? 'qm-table-strikethrough' : null)">{{appointment.actionData.notes}}</td>
              <td>{{appointment.username}}</td>
            </tr>
          </table>
        </div>

        <div style="display: flex;"  *ngIf="sortedfullappointmentList && sortedfullappointmentList.length > 0"> 
          {{updateDetailList()}}
          </div>
          <div style="display: flex;"  *ngIf="(sortedfullappointmentList && sortedfullappointmentList.length == 0)"> 
            {{'label.list.no.items' | translate}} 
            </div>
          <div class="qm-pagination-container">
            <ngb-pagination *ngIf="sortedfullappointmentList && sortedfullappointmentList.length > 0" [(page)]="currentPage" [pageSize]="elementsPerPage" [collectionSize]="sortedfullappointmentList.length" [maxSize]="10" [boundaryLinks]="true"></ngb-pagination>
          </div>
      </div>
      <div class="qm-no-appointment" *ngIf=" !currentCustomer ">
        <div class="qm-no-appointment__text">
          Select a customer to view appointments
        </div>
      </div>
      
      <div *ngIf="selectedAppointment && currentCustomer && appointmentVisit && appointmentVisit.length > 0">
        <h2 class="qm-app-list-table-container__heading"  *ngIf="currentCustomer && fulAppointmentList && fulAppointmentList.length > 0">Visit Details</h2>

        <div class="row" style="margin: 0px;">
          <div class="column left" style="text-align: center;margin-top: auto;margin-bottom: auto">
            <div>
              <span style="font-size: 50px;color: #E50046;text-align: center;">{{appointmentVisit[0].ticket}}</span>
            </div>
          </div>
          <div class="column right" >
            <div style="margin: auto;">
              <table id="visit-table">
                <tr>
                  <td><span style="font-weight: bold;margin-right: 10px;">Name</span></td>
                  <td><span style="margin-left: 50px;" *ngFor="let customer of selectedAppointment.customers">{{customer.name}}</span></td>
                </tr>
                <tr>
                  <td><span style="font-weight: bold;margin-right: 10px;">Appointment Id</span></td>
                  <td><span style="margin-left: 50px;">{{selectedAppointment.id}}</span></td>
                </tr>
                <tr>
                  <td><span style="font-weight: bold;margin-right: 10px;">Start Time</span></td>
                  <td><span style="margin-left: 50px;">{{selectedAppointment.start | amDateFormat: 'YY-MM-DD hh:mm A'}}</span></td>
                </tr>
                <tr>
                  <td><span style="font-weight: bold;margin-right: 10px;">End Time</span></td>
                  <td><span style="margin-left: 50px;">{{selectedAppointment.end | amDateFormat: 'YY-MM-DD hh:mm A'}}</span></td>
                </tr>
                <tr>
                  <td><span style="font-weight: bold;margin-right: 10px;">Branch</span></td>
                  <td><span style="margin-left: 50px;">{{selectedAppointment.branch.name}}</span></td>
                </tr>
                <tr>
                  <td><span style="font-weight: bold;margin-right: 10px;">Resource</span> </td>
                  <td><span style="margin-left: 50px;">{{selectedAppointment.resource.name}}</span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <br>
        <div>
          <button class="qm-btn qm-btn--primary" style="float: right;" (click)="unSelectedAppointment()">Back</button>
        </div>
        <br><br>
        
        <div style="margin: 20px 0px;">
          <div class="qm-app-list-table-container__filters" *ngIf="currentCustomer && fulAppointmentList && fulAppointmentList.length > 0" style="margin-bottom: 14px;">
            <div>
              Search <input style="margin-left: 12px;" type="text" (change)="onSearchTxtChanged()" (keyup) = "onSearchTxtChanged()" [(ngModel)] = "searchText">
            </div>
            <div>
              show <select name="" id="" (change)="onChangeElementsPerpage($event.target.value)" style="margin-left: 12px;" >
                <option value="5"> 5 </option>
                <option value="10"> 10 </option>
                <option value="20"> 20 </option>
              </select>
            </div>
          </div>
          <hr>
          <div class="qm-app-list-table-container-list" style="height: auto;width: auto;">
            <table id="app-list">
              <tr style="border-bottom: 6px solid white">
                <th style="text-align: start;">
                  Action Time
                  <button class="qm-transparent-btn" (click) = "sortByChange('DATE')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'DATE' && sortByAsc) || (sortByCondition !== 'DATE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button>
                </th>
                <th>Status
                  <button class="qm-transparent-btn" (click) = "sortByChange('STATUS')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'START' && sortByAsc) || (sortByCondition !== 'START' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button>            
                </th>
                <th>Queue
                  <button class="qm-transparent-btn" (click) = "sortByChange('APP_ID')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'END' && sortByAsc) || (sortByCondition !== 'END' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
                <th>Service
                  <button class="qm-transparent-btn" (click) = "sortByChange('START')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'FIRST_NAME' && sortByAsc) || (sortByCondition !== 'FIRST_NAME' && !sortByAsc))  ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
                <th>Outcome
                  <button class="qm-transparent-btn" (click) = "sortByChange('END')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'LAST_NAME' && sortByAsc) || (sortByCondition !== 'LAST_NAME' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
                <th>Mark
                  <button class="qm-transparent-btn" (click) = "sortByChange('BRANCH')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'RESOURCE' && sortByAsc) || (sortByCondition !== 'RESOURCE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
                <th>Recycled
                  <button class="qm-transparent-btn" (click) = "sortByChange('RESOURCE')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'NOTE' && sortByAsc) || (sortByCondition !== 'NOTE' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
                <th>Notes
                  <button class="qm-transparent-btn" (click) = "sortByChange('SERVICES')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'SERVICES' && sortByAsc) || (sortByCondition !== 'SERVICES' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
                <th>EntryPoint / ServicePoint
                  <button class="qm-transparent-btn" (click) = "sortByChange('TITLE')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'EMAIL' && sortByAsc) || (sortByCondition !== 'EMAIL' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
                <th>User
                  <button class="qm-transparent-btn" (click) = "sortByChange('USER')">
                    <i class="sort-icon" [ngClass]="((sortByCondition === 'UPDATED' && sortByAsc) || (sortByCondition !== 'UPDATED' && !sortByAsc)) ? 'icon-caret-down': 'icon-caret-up'"></i>
                  </button> 
                </th>
              </tr>
              <tr style="font-size: 13.5px;" *ngFor="let visit of visitDataArray | slice: (currentPage-1) * elementsPerPage : currentPage * elementsPerPage">
                <td style="text-align: start;padding: 15px 0px;">{{visit.time}}</td>
                <td>{{visit.visitOutcome}}</td>
                <td>{{visit.queue}}</td>
                <td>{{visit.service}}</td>
                <td>{{visit.outcome}}</td>
                <td>{{visit.mark}}</td>
                <td>{{visit.recycled}}</td>
                <td>{{visit.notes}}</td>
                <td>{{visit.workstation}}</td>
                <td>{{visit.user}}</td>
              </tr>
            </table>
          </div>

          <div>
            <!-- <div style="display: flex;"  *ngIf="visitDataArray && visitDataArray.length > 0"> 
              {{updateDetailList()}}
            </div> -->
            <div style="display: flex;"  *ngIf="(visitDataArray && visitDataArray.length > 0) && visitDataArray.length === 0 "> 
              {{'label.list.no.items' | translate}} 
            </div>
            <div class="qm-pagination-container" style="margin-top: 8px;">
              <ngb-pagination *ngIf="visitDataArray && visitDataArray.length > 0" [(page)]="currentPage" [pageSize]="2" [collectionSize]="visitDataArray.length" [maxSize]="10" [boundaryLinks]="true"></ngb-pagination>
            </div>
          </div>
        </div>  
      </div>
      
    
    </div>
    <div class="qm-messages" toastContainer></div>
  </qm-main>
  <qm-page-footer></qm-page-footer>
</div>
