@import '../../../../styles/base/_component-manifest.scss';
@import '~ngx-toastr/toastr';

.qm-app-list-table-container {
    background: white;
    height: 100%;
    width: 100%;
    padding:25px;
    hr {
        margin: 20px 0;
        border-top: 1px solid $dark-transparent12;
    }
    &__heading {
        font-size: 24px;
        font-weight: 500;
        // text-align: center;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        &-reports {
            display: flex;
        }
        &-button {
            padding: 0px 10px;
            border: 1px solid $dark-transparent12;
        }
        &-search {
            margin-left: 5px;
        }
        &-input {
            margin-left: 12px;
        }
        &-select {
            margin-left: 12px;
        }
    }
    &-list{
        overflow: auto;
        width: calc(100vw - 450px);
        height:  calc(100vh - 390px);
    }
    &__pagination {
        display: flex;
        margin: 20px auto;
        justify-content: center;
        text-align: center;
        &-element {
            border: 1px solid $dark-transparent12;           
            min-width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;
        }

    }
    &-back {
        float: right;
        display: flex;
        color: $pale-blue;
    }
    &-back:hover {
        color: $qmatic-bordeaux;
    }
}

.qm-app-search {
    height: 30%;
    width: 30%;
    margin: 10px 20px;

    &_card {
        width: max-content;
    }
}

#app-list th {
    min-width: 100px;
    font-size: 12px;
    color: $dark-transparent62;
    border-bottom: 1px solid $dark-transparent12;
}
#app-list tr:hover {
    background-color: $d-gray !important;
    cursor: pointer;
}
#app-list tr{
    text-align: center;
    border-bottom: 2px solid $light-gray;    
}
#visit-table tr {
    border-bottom: 2px solid $soft-gray; 
}
.qm-no-appointment{
    position: absolute;
    font-size: 50px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    &__text {
        margin: 30px;
    }
}
.qm-transparent-btn {
    background: transparent;
    border: none;
}

.qm-pagination-container {
    display: flex;
    justify-content: center;
    width: calc(100vw - 450px);
}
.qm-table {
    &-create{
        background-color: $pale-aquamarine;
        opacity: .8;
    }
    &-update{
        background-color: #e0dc4f;
        opacity: .8;
    }
    &-delete{
        background-color: $qmatic-bordeaux;
        opacity: .8;
    }
    &-link {
        text-decoration: none;
        :hover {
            cursor: pointer;
        }
    }
}
.qm-table-strikethrough {
    text-decoration: line-through;
    color: #E50046 !important;
}
ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #E50046 !important;
    border-color: #E50046 !important;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    color: $dark-transparent42 !important;
}

// .row {
//     background-color: $soft-gray;
// }

.column {
    float: left;
    padding: 10px;
}
  
.left {
    width: 35%;
}
  
.right {
    width: 65%;
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}


hr {
    margin: 20px 0;
    border-top: 1px solid $dark-transparent12;
}

#app-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.qm-booking-header {
    display: flex;

    &__back{
        margin-top: -15px;
        color: black;
    }
}

.qm-history-search {
    display: flex;
    flex-wrap: wrap;
    background: $white;
    box-shadow: $dashboard-body-box-shadow;
    border-radius: $standard-border-radius;
    padding: rem($standard-padding * 1.5 $standard-padding * 2);
    width: 100%;
  
    &__headline {
      flex: 1 1 100%;
    }
  
    &__layout {
      display: flex;
      width: 100%;
    }
  
    &__search-container {
      position: relative;
      height: rem(46px);
      flex: 1 1 auto;
      margin-right: rem($base-unit);
      z-index: map-get($map: $z-index, $key: 'customer-search');
  
      @at-root [dir='rtl'] & {
        margin-right: 0;
        margin-left: rem($base-unit);
      }
    }
  
    &__action-container {
      flex: 0 0 auto;
      display: flex;
    }
  
    &__btn {
      color: $secondary-color;
  
      &:active {
        color: $dark-transparent82;
      }
  
      .qm-action-btn__icon {
        font-size: rem(36px);
      }
  
      .qm-btn__text {
        font-size: rem(18px);
        line-height: rem(21px);
        font-weight: $font-weight-regular;
        padding-right: rem($standard-padding / 4);
  
        @at-root [dir='rtl'] & {
          padding-right: 0;
          padding-left: rem($standard-padding / 4);
        }
      }
    }
  
    &__backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: map-get($map: $z-index, $key: 'backdrop');
    }
  }
  
  .qm-search {
    position: relative;
    
    &__input {
      width: 100%;
      border: 1px solid $standard-border-color;
      box-shadow: 0 0 4px 0 $dark-transparent04;
      padding: rem(10px 48px 10px 12px);
      color: $dark-transparent82;
      font-size: rem(18px);
      line-height: rem(24px);
      font-weight: $font-weight-light;
      height: rem(46px);
  
      @at-root [dir='rtl'] & {
        padding: rem(10px 12px 10px 48px);
      }
    }
  
    &__btn {
      position: absolute;
      right: rem($base-unit / 2);
      top: 50%;
      transform: translateY(-50%);
      color: $dark-transparent42;
  
      @at-root [dir='rtl'] & {
        right: auto;
        left: rem($base-unit / 2);
      }
  
      &--clear {
        z-index: 3;
        .qm-action-btn__icon {
          font-size: rem(18px);
        }
      }
    }
  }
  
  @media screen and (max-height: #{map-get($hight-breakpoints, 'md')}) { 
    .qm-history-search {
      padding: rem($standard-padding * 1.2 $standard-padding * 2);
    }
  }

.qm-dashbord-title {
    width: 80%;
}

.qm-dashboard {
    padding: rem($base-unit $base-unit * 2);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
  
    // Search and customer card
    &__header {
        display: flex;
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: rem($standard-margin);
    }
  
    // Booking flow
    &__body {
      flex: 1 1 auto;
      display: flex;
      position: relative;
      flex-direction: column;
      overflow: hidden;
  
      &--card-shade {
        padding-top: rem($base-unit);
  
        &:before {
          content: "";
          display: block;
          background: $light-transparent42;
          height: rem($base-unit);
          width: 90%;
          border-radius: rem($standard-border-radius $standard-border-radius 0 0);
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  
    &__content {
      flex: 1 1 auto;
      background: $tab-background-color;
      display: flex;
      flex-direction: column;
      padding: rem($standard-padding * 2 $standard-padding * 2 $standard-padding);
      box-shadow: $dashboard-body-box-shadow;
      border-radius: $standard-border-radius;
      overflow: hidden;
    }
  }

  .qm-visit-detail {
      &__container{
          margin-left: 2rem;
          margin-right: 2rem;
      }
  }