<qm-list [userDirection]="userDirection" [searchText]="datesSearchText$ | async" [placeholder]="'label.bookingFlow.date.search.placeholder' | translate" [header]="'label.bookingFlow.date.header' | translate" (search)="filterDates($event)">
  <qm-list-item [text]="selectableDate | amDateFormat: 'dddd DD MMMM'" [userDirection]="userDirection" [name]="'date'" [isSelected]="isDateSelected(selectableDate)" [inputType]="'radio'" *ngFor="let selectableDate of dates$ | async" (optionClicked)="handleDateSelection(selectableDate)">

  </qm-list-item>
</qm-list>
<qm-resource-text [text]="resourceName"></qm-resource-text>
