<div class="qm-app qm-app--print" [dir]="userDirection$ | async">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="appointment-confirmation" class="qm-print">
          <div *ngIf="appointmentLoading" class="appointment-confirmation__loading">
            <qm-loader></qm-loader>
          </div>
          <button *ngIf="emailTemplateEnabled" (click)="cancelEdit()" class="qm-action-btn qm-action-btn--only-icon qm-print__close-container">
            <i class="qm-print__close-icon icon-close" aria-hidden="true"></i>
            <span class="sr-only">{{ 'button.print.close' | translate }}</span>
          </button>

          <div class="qm-print__header" *ngIf="!emailTemplateEnabled">
            <h1 class="qm-headline qm-print__headline">
              <span > {{'label.print.appointment.confirmation' | translate}}
              </span>
            </h1>
            <button (click)="cancelEdit()" class="qm-action-btn qm-action-btn--only-icon qm-print__close-container">
              <i class="qm-print__close-icon icon-close" aria-hidden="true"></i>
              <span class="sr-only">{{ 'button.print.close' | translate }}</span>
            </button>
          </div>
          <div>
          <div id="emailTemplate" [ngClass]="{'qm-display-none': ((!appointmentLoaded || appointmentLoading) || (qpAppointment && qpAppointment.publicId !== bookedAppointment.publicId)) }">
          </div>
          <div *ngIf="!emailTemplateEnabled">
            <div class="qm-print__body">
              <div class="qm-print__section">
                <section class="qm-customer-card">
                  <h1 class="qm-customer-card__headline">
                    <a href="#" class="qm-customer-card__name" [innerText]="currentCustomer?.name"></a>
                  </h1>
                  <ul class="qm-customer-card__list">
                    <li class="qm-customer-card__list-item" *ngIf="phoneEnabled && currentCustomer?.phone.length > 0">
                      <i class="icon-phone qm-customer-card__list-item-icon" aria-hidden="true"></i>
                      <span class="qm-customer-card__list-item-text" [innerText]="currentCustomer?.phone"></span>
                    </li>
                    <li class="qm-customer-card__list-item" *ngIf="emailEnabled && currentCustomer?.email.length > 0">
                      <i class="icon-mail qm-customer-card__list-item-icon" aria-hidden="true"></i>
                      <span class="qm-customer-card__list-item-text" [innerText]="currentCustomer?.email"></span>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="qm-print__section" *ngIf="bookedAppointment">
                <h2 class="qm-headline qm-print__sub-headline">{{'label.print.appointment.overview' | translate}}</h2>
                <table class="qm-print__table">
                  <caption>{{'label.print.appointment.overview' | translate}}:</caption>
                  <tr>
                    <th scope="row">{{'label.print.appointment.date' | translate}}</th>
                    <td>{{ bookedAppointment?.start | amTz: bookedAppointment.branch.fullTimeZone | amDateFormat: dateFormat}}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{'label.print.appointment.time' | translate}}</th>
                    <td>{{ bookedAppointment?.start | amTz: bookedAppointment.branch.fullTimeZone |
                      amDateFormat:getTimeFormat() }} - {{ bookedAppointment?.end | amTz:
                      bookedAppointment.branch.fullTimeZone | amDateFormat:getTimeFormat() }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">{{'label.print.appointment.customers' | translate}}</th>
                    <td> {{ bookedAppointment?.numberOfCustomers}} {{ (bookedAppointment?.numberOfCustomers > 1 ?
                      'label.print.appointment.customers'
                      : 'label.print.appointment.customer') | translate }}</td>
                  </tr>
                  <tr>
                    <th scope="row">{{'label.print.appointment.service' | translate}}</th>
                    <td>
                      <ng-container *ngFor="let svc of bookedAppointment?.services; let i = index">
                        {{svc.name}}
                        <br *ngIf='i !== (bookedAppointment?.services.length-1)' />
                      </ng-container>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">{{'label.print.appointment.branch' | translate}}</th>
                    <td>{{ this.bookedAppointment?.branch.name}}</td>
                  </tr>
                  <tr *ngIf="this.getBranchAddressText(this.bookedAppointment?.branch).length > 0">
                    <th scope="row">{{'label.print.appointment.address' | translate}}</th>
                    <td>{{ this.getBranchAddressText(this.bookedAppointment?.branch)}}</td>
                  </tr>
                  <tr *ngIf="this.bookedAppointment?.resource.name.length > 0">
                    <th scope="row">{{'label.print.appointment.resource' | translate}}</th>
                    <td>{{ this.bookedAppointment?.resource.name}}</td>
                  </tr>
                </table>
              </div>
              <div class="qm-print__section">
                <p class="qm-print__paragraph">{{'label.print.appointment.thankyou' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="qm-print__footer">
            <div class="qm-generic-layout qm-generic-layout--justify-center">
              <button type="button" (click)="cancelEdit()" class="qm-btn qm-btn--secondary qm-print__btn hide-in-print">
                <span class="qm-btn__text" title="{{ 'button.print.close' | translate }}">{{ 'button.print.close' |
                  translate }}</span>
              </button>
              <button class="qm-btn qm-btn--primary qm-print__btn hide-in-print" (click)="printAppointment()">
                <span class="qm-btn__text" title="{{ 'button.print.confirm' | translate }}">{{ 'button.print.confirm'
                  |
                  translate }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="qm-messages" toastContainer dir="{{ userDirection$ | async }}">
</div>