@import '../../../../styles/base/_component-manifest.scss';
.qm-customer-card {
    &__list {
        list-style-type: none;
    }

    &__list-item {
        word-break: break-all;
    }
}

.qm-print{
    &__headline  {
        font-size: 1.35rem;
    }
}



@media print
{    
    .hide-in-print, .hide-in-print *
    {
        display: none !important;
    }
}


.qm-customer-card__list-item + .qm-customer-card__list-item {
    margin-top: rem($standard-margin / 2);
  }

  .qm-customer-card__list-item {
    @at-root [dir='rtl'] & {
      margin-right: 0;
      margin-left: rem($standard-margin);
      display: flex;
      text-align: right;
      word-break: break-all;
    }
}