<fieldset class="qm-notify" [dir]="userDirection" *ngIf="!allNotificationTypesDisabled()">
  <legend class="qm-notify__header">
    <span class="qm-notify__header-text">{{ 'label.appointmentNotify.heading' | translate }}<span class="qm-required-star"> *</span></span>
  </legend>
  <ul class="qm-notify__list">
    <li class="qm-notify__list-item" *ngIf="emailEnabled">
      <qm-standard-radio
        name="notify"
        value="email"
        [userDirection]="userDirection"
        [text]="'label.appointmentNotify.email' | translate"
        [tooltip]="'label.appointmentNotify.email.tooltip' | translate"
        [isSelected]="isSelected('email')"
        (optionClickeda)="handleClick($event)">
      </qm-standard-radio>
    </li>
    <li class="qm-notify__list-item" *ngIf="smsEnabled">
      <qm-standard-radio
        name="notify"
        value="sms"
        [userDirection]="userDirection"
        [text]="'label.appointmentNotify.sms' | translate"
        [tooltip]="'label.appointmentNotify.sms.tooltip' | translate"
        [isSelected]="isSelected('sms')"
        (optionClickeda)="handleClick($event)">
      </qm-standard-radio>
    </li>
    <li class="qm-notify__list-item" *ngIf="emailAndSmsEnabled">
      <qm-standard-radio
        name="notify"
        value="both"
        [userDirection]="userDirection"
        [text]="'label.appointmentNotify.smsAndEmail' | translate"
        [tooltip]="'label.appointmentNotify.smsAndEmail.tooltip' | translate"
        [isSelected]="isSelected('both')"
        (optionClickeda)="handleClick($event)">
      </qm-standard-radio>
    </li>
    <li class="qm-notify__list-item" *ngIf="noNotificationEnabled">
      <qm-standard-radio
        name="notify"
        value="none"
        [userDirection]="userDirection"
        [text]="'label.appointmentNotify.noNotification' | translate"
        [tooltip]="'label.appointmentNotify.noNotification.tooltip' | translate"
        [isSelected]="isSelected('none')"
        (optionClickeda)="handleClick($event)">
      </qm-standard-radio>
    </li>
  </ul>
</fieldset>
