<ul class="qm-icon-list">

  <li class="qm-icon-list-item">
    <i class="qm-icon-list-item__icon icon-service-solid" aria-hidden="true"></i>
    <div class="qm-icon-list-item__text-container">
      <span *ngFor="let service of appointment.services"
        class="qm-icon-list-item__text"
        title="{{ service.name }}">
        {{ service.name }}
      </span>
    </div>
  </li>

  <li class="qm-icon-list-item">
    <i class="qm-icon-list-item__icon icon-home" aria-hidden="true"></i>
    <div class="qm-icon-list-item__text-container">
      <span class="qm-icon-list-item__text"
        title="{{ appointment.branch.name }}">
        {{ appointment.branch.name }}
      </span>
      <span class="qm-icon-list-item__text" *ngIf="appointment.branch.addressLine1">
        {{ appointment.branch.addressLine1 }}
      </span>
    </div>
  </li>
</ul>
