@import '../../../../styles/base/_component-manifest.scss';

.qm-icon-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.qm-icon-list-item {
  display: flex;

  @at-root [dir='rtl'] & {
    text-align: right;
  }

  & + & {
    margin-top: rem($standard-margin);
  }

  &__icon {
    display: inline-block;
    font-size: rem(24px);
    line-height: rem(24px);
    color: $dark-transparent82;
    margin-right: rem($standard-margin / 2);

    @at-root [dir='rtl'] & {
      margin-right: 0;
      margin-left: rem($standard-margin / 2);
    }
  }

  &__text-container {
    flex: 1 1 auto;
    max-height: rem(200px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: rem($standard-padding);
    margin-right: rem($standard-margin);

    @at-root [dir='rtl'] & {
      padding-right: 0;
      margin-right: 0;
      padding-left: rem($standard-padding);
      margin-left: rem($standard-margin);
    }
  }

  &__text {
    display: block;
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: $font-weight-light;
    color: $dark-transparent62;
    word-break: break-all;
    word-break: break-word;

    & + & {
      margin-top: rem($standard-margin / 2);
    }

    &--emphasis {
      font-weight: $font-weight-regular;
      color: $dark-transparent82;
    }
  }

  &--large {
    & + & {
      margin-top: rem($standard-margin * 2);
    }

    .qm-icon-list-item__text {
      font-size: rem(18px);
    }

    .qm-icon-list-item__text + .qm-icon-list-item__text {
      margin-top: rem($standard-margin);
    }
  }
}
