<!--div id="qm-app">
<div>{{ 'customer_served' | translate }}</div>
<h3>Welcome - {{fullName$ | async}}</h3>
<qm-list [header]="'Branches'">
  <qm-list-item *ngFor="let b of (branchState | async).filteredBranchList">
  {{b.name}}
  </qm-list-item>

</qm-list>
</div-->
    <div class="qm-app">
        <header class="qm-header" id="header">
    <div class="qm-header__left">
        <a href="/" class="qm-action-btn qm-action-btn--only-icon qm-header__home-btn">
            <i class="qm-action-btn__icon icon-home" aria-hidden="true"></i>
            <span class="sr-only">Home</span>
        </a>
        <div class="qm-header__brand-logo-container">
            <img class="qm-header__brand-logo" src="./images/brand_logo_header.png" alt="" role="presentation"/>
        </div>
        <span class="qm-header__application-name">Staff booking module</span>
    </div>

    <div class="qm-header__right">
        <a href="/help" target="_blank" class="qm-action-btn qm-action-btn--only-icon qm-header__help-btn">
            <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
            <span class="sr-only">Help</span>
        </a>
        <a href="#" class="qm-header__user-name">Bouwdewijn van Duijn</a>
        <a href="/logout.jsp" class="qm-action-btn qm-action-btn--only-icon qm-header__logout-btn">
            <i class="qm-action-btn__icon icon-exit" aria-hidden="true"></i>
            <span class="sr-only">Logout</span>
        </a>
    </div>
</header>

        <main class="qm-main">
    

<div class="qm-dashboard">
    <div class="qm-dashboard__header">
        <div class="row">
            <div class="col-sm-5 qm-hide">
                <div class="qm-box qm-full-height">
                    
<section class="qm-customer-card ">
    <h1 class="qm-customer-card__headline">
        <a href="#" class="qm-customer-card__name">Arne Elhagen</a>
    </h1>
    <ul class="qm-customer-card__list">
        <li class="qm-customer-card__list-item">
            <i class="icon-phone qm-customer-card__list-item-icon" aria-hidden="true"></i>
            <span class="qm-customer-card__list-item-text">073 8065521</span>
        </li>
        <li class="qm-customer-card__list-item">
            <i class="icon-mail qm-customer-card__list-item-icon" aria-hidden="true"></i>
            <span class="qm-customer-card__list-item-text">kalleolofsson@gmail.com</span>
        </li>
    </ul>
    
        
<button
    
    
    
    class="qm-btn qm-btn--secondary qm-customer-card__btn">
    
    <span class="qm-btn__text" title="Clear/change customer">Clear/change customer</span>
</button>

    
</section>

                </div>
            </div>
            <div class="col-sm-5">
                <div class="qm-box qm-full-height">
                    


<div class="qm-customer-search">
    <h2 class="qm-headline qm-headline--large qm-customer-search__headline">Find or create new customer</h2>
    <div class="qm-customer-search__layout">
        <div class="qm-customer-search__search-container">
            
<div class="qm-search">
    <label for="customerSearch" class="sr-only">Search by name, phone or other</label>
    <input id="customerSearch" type="search" class="qm-search__input" placeholder="Search by name, phone or other" name="q" />
    <button class="qm-action-btn qm-action-btn--only-icon qm-search__btn">
        <i class="qm-action-btn__icon icon-search qm-search__icon" aria-hidden="true"></i>
        <span class="sr-only">Search</span>
    </button>
</div>

        </div>
        <div class="qm-customer-search__action-container">
            
<button
    
    
     aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot; 
    class="qm-btn qm-btn--primary">
    
    <span class="qm-btn__text" title="New customer">New customer</span>
</button>

        </div>
    </div>
</div>

                </div>
            </div>
            <div class="col-sm-5">
                <div class="qm-box qm-full-height">
                    <div class="qm-booking-history">
    <span class="qm-headline qm-headline--large qm-booking-history__headline">Booked appointments</span>
    <p class="qm-booking-history__description">The customer has 5 booked appointments</p>
    



<div class="qm-dropdown">
    <button class="qm-dropdown__btn js-dropdown-btn" aria-expanded="false" aria-haspopup="true">View or edit appointments</button>
    <div class="qm-dropdown__body">
        <ul class="qm-appointment-list">
            
            <li class="qm-appointment-list__item">
                
<div class="qm-appointment-card">
    <a href="#" class="qm-appointment-card__content-container">
        <span class="qm-appointment-card__headline">Wednesday 17 January 2018</span>
        <ul class="qm-icon-list">
            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-clock" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="3:00 pm - 3:30 pm">3:00 pm - 3:30 pm</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-service-solid" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Customer Service">Customer Service</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-home" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Femman">Femman</span>
            
                <span class="qm-icon-list-item__text">Östra Hamngatan 15</span>
            
        </div>
    </li>

            
        </ul>
    </a>
    <div class="qm-appointment-card__action-container">
        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-delete-secondary" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Delete">Delete</span>
    
</button>

        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-print" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Print">Print</span>
    
</button>

    </div>
</div>

            </li>
            
            <li class="qm-appointment-list__item">
                
<div class="qm-appointment-card">
    <a href="#" class="qm-appointment-card__content-container">
        <span class="qm-appointment-card__headline">Thursday 18 January 2018</span>
        <ul class="qm-icon-list">
            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-clock" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="3:00 pm - 3:30 pm">3:00 pm - 3:30 pm</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-service-solid" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Customer Service">Customer Service</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-home" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Qmatic">Qmatic</span>
            
                <span class="qm-icon-list-item__text">Neongatan 8, 123 43 Mölndal</span>
            
        </div>
    </li>

            
        </ul>
    </a>
    <div class="qm-appointment-card__action-container">
        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-delete-secondary" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Delete">Delete</span>
    
</button>

        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-print" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Print">Print</span>
    
</button>

    </div>
</div>

            </li>
            
            <li class="qm-appointment-list__item">
                
<div class="qm-appointment-card">
    <a href="#" class="qm-appointment-card__content-container">
        <span class="qm-appointment-card__headline">Friday 19 January 2018</span>
        <ul class="qm-icon-list">
            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-clock" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="3:00 pm - 3:30 pm">3:00 pm - 3:30 pm</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-service-solid" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Customer Service">Customer Service</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-home" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="The site">The site</span>
            
                <span class="qm-icon-list-item__text">Kabbeleksgatan 2c</span>
            
        </div>
    </li>

            
        </ul>
    </a>
    <div class="qm-appointment-card__action-container">
        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-delete-secondary" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Delete">Delete</span>
    
</button>

        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-print" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Print">Print</span>
    
</button>

    </div>
</div>

            </li>
            
            <li class="qm-appointment-list__item">
                
<div class="qm-appointment-card">
    <a href="#" class="qm-appointment-card__content-container">
        <span class="qm-appointment-card__headline">Saturday 20 January 2018</span>
        <ul class="qm-icon-list">
            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-clock" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="3:00 pm - 3:30 pm">3:00 pm - 3:30 pm</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-service-solid" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Customer Service">Customer Service</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-home" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Neongatan 8, 123 43 Mölndal">Neongatan 8, 123 43 Mölndal</span>
            
        </div>
    </li>

            
        </ul>
    </a>
    <div class="qm-appointment-card__action-container">
        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-delete-secondary" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Delete">Delete</span>
    
</button>

        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-print" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Print">Print</span>
    
</button>

    </div>
</div>

            </li>
            
            <li class="qm-appointment-list__item">
                
<div class="qm-appointment-card">
    <a href="#" class="qm-appointment-card__content-container">
        <span class="qm-appointment-card__headline">Sunday 21 January 2018</span>
        <ul class="qm-icon-list">
            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-clock" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="3:00 pm - 3:30 pm">3:00 pm - 3:30 pm</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-service-solid" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Customer Service">Customer Service</span>
            
        </div>
    </li>

            
                
    <li class="qm-icon-list-item ">
        <i class="qm-icon-list-item__icon icon-home" aria-hidden="true"></i>
        <div class="qm-icon-list-item__text-container">
            <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Neongatan 8, 123 43 Mölndal">Neongatan 8, 123 43 Mölndal</span>
            
        </div>
    </li>

            
        </ul>
    </a>
    <div class="qm-appointment-card__action-container">
        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-delete-secondary" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Delete">Delete</span>
    
</button>

        
<button
    
    
     class="qm-action-btn qm-appointment-card__btn">
    <i class="qm-action-btn__icon icon-print" aria-hidden="true"></i>
    
        <span class="qm-action-btn__text" title="Print">Print</span>
    
</button>

    </div>
</div>

            </li>
            
        </ul>
    </div>
</div>

</div>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="qm-expire-counter-layout">
                    
<div class="qm-expire-counter ">
    <span class="qm-expire-counter__label">Reservation will expire in:</span>
    <span class="qm-expire-counter__time js-expire-counter-time">09:59</span>
</div>

                </div>
            </div>
        </div>
    </div>

    <div class="qm-dashboard__body">
        <div class="qm-dashboard__content">
            <div class="qm-dashboard-row">
                <div class="qm-dashboard-col-9">
                    <div class="qm-dashboard-row no-gutters">
                        <div class="col qm-dashboard-col-7">
                            <div class="qm-booking-header">
    <div class="row qm-booking-header__row">
        <div class="col">
            <h2 class="qm-headline qm-headline--large">Create new appointment</h2>
        </div>
    </div>
</div>
<div class="qm-booking-flow">
    <div class="row qm-booking-flow__row">
        <div class="col-6 qm-booking-flow__col">
            



<fieldset class="qm-booking">
    <legend class="qm-booking__header">
        <span class="qm-booking__header-layout qm-generic-layout qm-generic-layout--nowrap qm-generic-layout--space-between">
            <span class="qm-booking__header-left">
                <span class="qm-booking__header-text">Service</span>
            </span>
            <span class="qm-booking__header-right">
                
    <span class="qm-toggle ">
        <label class="qm-toggle__label">
            <input class="qm-toggle__input" type="checkbox"  name="showSelected"   />
            <span class="qm-toggle__selector">
                <span class="qm-toggle__text" title="Show selected">Show selected <span class="qm-toggle__nr-of-selected js-nr-of-selected-services">(1)</span></span>
                <span class="qm-toggle__switch">
                    <span class="qm-toggle__slider"></span>
                </span>
            </span>
        </label>
    </span>

            </span>
        </span>
    </legend>
    <div class="qm-booking__body">
        <div class="qm-booking__search">
            
<div class="qm-search">
    <label for="serviceSearch" class="sr-only">Search service</label>
    <input id="serviceSearch" type="search" class="qm-search__input" placeholder="Search service" name="q" />
    <button class="qm-action-btn qm-action-btn--only-icon qm-search__btn">
        <i class="qm-action-btn__icon icon-search qm-search__icon" aria-hidden="true"></i>
        <span class="sr-only">Search</span>
    </button>
</div>

        </div>
        <ul class="qm-booking__list">
            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Car alarm system</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Extended warranty</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Smart home services integration</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Virus and malware scan</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">AR/VR demo</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Human-robotics introduction</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Free demo of Pepper</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Default text</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Another item</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">A third item</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">An item with a very very very very very long name</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Phones</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Tablets</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

            
<li class="qm-selector-item">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="checkbox" name="service" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Other</span>
            <i class="qm-selector-item__selector-icon icon-" aria-hidden="true"></i>
        </span>
    </label>
</li>

        </ul>
    </div>
</fieldset>

        </div>
        <div class="col-6 qm-booking-flow__col">
            

<qm-list [header]="'Branches'">
  <qm-list-item *ngFor="let b of (branchState | async).filteredBranchList">
  {{b.name}}
  </qm-list-item>

</qm-list>







        </div>
    </div>
</div>

                        </div>
                        <div class="col qm-dashboard-col-5">
                             <div class="qm-booking-header">
    <div class="row qm-booking-header__row">
        <div class="col">
            <div class="qm-customer-count">
    <span class="qm-customer-count__label">Customers</span>
    <div class="qm-customer-count__container">
        
        <div class="qm-customer-count__actions-container">
            <button class="qm-customer-count__btn qm-customer-count__btn--decrease" aria-controls="amountOfCustomers">
                <i class="qm-customer-count__btn-icon icon-subtract" aria-hidden="true"></i>
                <span class="sr-only">Decrease the amount of customers by 1</span>
            </button>
            <div class="qm-customer-count__input-container">
                <label for="amountOfCustomers" class="sr-only">Enter number of customers</label>
                <input id="amountOfCustomers" class="qm-customer-count__input" aria-live="polite" min="0" type="number" name="amountOfCustomers" value="1" />
            </div>
            <button class="qm-customer-count__btn qm-customer-count__btn--increase" aria-controls="amountOfCustomers">
                <i class="qm-customer-count__btn-icon icon-add" aria-hidden="true"></i>
                <span class="sr-only">Increase the amount of customers by 1</span>
            </button>
        </div>
    </div>
</div>

        </div>
    </div>
</div>
<div class="qm-booking-flow">
    <div class="row qm-booking-flow__row flex-nowrap">
        <div class="col qm-booking-flow__col qm-booking-flow__col--date-col">
            


<fieldset class="qm-booking">
    <legend class="qm-booking__header">
        <span class="qm-booking__header-text">Date</span>
    </legend>
    <div class="qm-booking__body">
        <div class="qm-booking__search">
            
<div class="qm-search">
    <label for="dateSearch" class="sr-only">Search date</label>
    <input id="dateSearch" type="search" class="qm-search__input" placeholder="Search date" name="q" />
    <button class="qm-action-btn qm-action-btn--only-icon qm-search__btn">
        <i class="qm-action-btn__icon icon-search qm-search__icon" aria-hidden="true"></i>
        <span class="sr-only">Search</span>
    </button>
</div>

        </div>
        <ul class="qm-booking__list">
            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Monday 19 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Tuesday 20 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Wednesday 21 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Thursday 22 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Friday 23 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Saturday 24 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Sunday 25 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Monday 26 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Tuesday 27 February</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item ">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="date" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">Wednesday 28 February</span>
        </span>
    </label>
</li>

        </ul>
    </div>
</fieldset>

        </div>
        <div class="col qm-booking-flow__col qm-booking-flow__col--time-col">
            


<fieldset class="qm-booking qm-booking--time">
    <legend class="qm-booking__header">
        <span class="qm-booking__header-text">Time</span>
    </legend>
    <div class="qm-booking__body">
        <ul class="qm-booking__list">
            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">07:00</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">07:15</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">07:30</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">07:45</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">08:00</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">08:15</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">08:30</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">08:45</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">09:00</span>
        </span>
    </label>
</li>

            
<li class="qm-selector-item qm-selector-item--centered">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input" type="radio" name="time" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text">09:15</span>
        </span>
    </label>
</li>

        </ul>
    </div>
</fieldset>

        </div>
    </div>
</div>
                        </div>
                    </div>
                </div>
                <div class="qm-dashboard-col-3">
                    
<div class="qm-booking-information">
    
<fieldset class="qm-notify">
    <legend class="qm-notify__header">
        <span class="qm-notify__header-text">Notify customer</span>
    </legend>
    <ul class="qm-notify__list">
        <li class="qm-notify__list-item">
            
<div class="qm-standard-radio">
    <label class="qm-standard-radio__label">
        <input type="radio" class="qm-standard-radio__input" name="notify" />
        <span class="qm-standard-radio__selector">
            <i class="qm-standard-radio__icon icomoon-styles" aria-hidden="true"></i>
            <span class="qm-standard-radio__text" title="Notify by mail">Notify by mail</span>
        </span>
    </label>
</div>

        </li>
        <li class="qm-notify__list-item">
            
<div class="qm-standard-radio">
    <label class="qm-standard-radio__label">
        <input type="radio" class="qm-standard-radio__input" name="notify" />
        <span class="qm-standard-radio__selector">
            <i class="qm-standard-radio__icon icomoon-styles" aria-hidden="true"></i>
            <span class="qm-standard-radio__text" title="Notify by SMS">Notify by SMS</span>
        </span>
    </label>
</div>

        </li>
        <li class="qm-notify__list-item">
            
<div class="qm-standard-radio">
    <label class="qm-standard-radio__label">
        <input type="radio" class="qm-standard-radio__input" name="notify" />
        <span class="qm-standard-radio__selector">
            <i class="qm-standard-radio__icon icomoon-styles" aria-hidden="true"></i>
            <span class="qm-standard-radio__text" title="Notify by both mail and SMS">Notify by both mail and SMS</span>
        </span>
    </label>
</div>

        </li>
    </ul>
</fieldset>

    
<div class="qm-standard-text-field qm-standard-text-field--large">
    <label class="qm-standard-text-field__label">
        <span class="qm-standard-text-field__top-container">
            <span class="qm-standard-text-field__text">Title</span>
            
        </span>
        <input type="text"
                class="qm-input qm-standard-text-field__input"
                
                 placeholder="Write a title for the visit" 
                 name="title" 
                />
        <span class="qm-standard-text-field__error-message">Appointment title cannot be blank</span>
    </label>
</div>

    

<div class="qm-notes">
    <div class="qm-notes__edit-container">
        <div class="qm-notes-layout">
            <label class="qm-notes__label" for="notesEdit">Notes</label>
            <div class="qm-notes__nr-of-character-container">
                <span class="qm-notes__characters js-notes-written-characters">0</span>
                <span class="qm-notes__characters js-notes-max-characters">/255</span>
            </div>
        </div>
        <textarea id="notesEdit" class="qm-notes__textarea" maxlength="255" rows="5"></textarea>
        <div class="qm-generic-layout qm-generic-layout--align-right">
            
<button
    
    
    
    class="qm-btn qm-btn--secondary qm-btn--small js-notes-cancel-btn">
    
    <span class="qm-btn__text" title="Cancel">Cancel</span>
</button>

            
<button
    
    
    
    class="qm-btn qm-btn--primary qm-btn--small js-notes-save-btn">
    
    <span class="qm-btn__text" title="Save">Save</span>
</button>

        </div>
    </div>
    <div class="qm-notes__presentation-container">
        <button class="qm-notes-btn js-notes-btn">
            <span class="qm-notes-btn__text">Add notes</span>
            <i class="qm-notes-btn__icon icon-edit" aria-hidden="true"></i>
        </button>
        <div class="qm-generic-layout qm-generic-layout--align-right">
            <div class="qm-notes__nr-of-character-container">
                <span class="qm-notes__characters js-notes-written-characters">0</span>
                <span class="qm-notes__characters js-notes-max-characters">/255</span>
            </div>
        </div>
    </div>
</div>
</div>
                </div>
            </div>
            
<div class="qm-booking-footer">
    <div class="qm-booking-footer__content qm-generic-layout qm-generic-layout--align-right">
        
<button
    
    
    
    class="qm-btn qm-btn--secondary">
    
    <span class="qm-btn__text" title="Clear all fields">Clear all fields</span>
</button>

        
<button
    
    
    
    class="qm-btn qm-btn--primary">
    
    <span class="qm-btn__text" title="Save appointment">Save appointment</span>
</button>

    </div>
</div>
        </div>
    </div>
</div>

</main>
        <footer class="qm-footer">
    <div class="qm-footer__content">
        <p class="qm-footer__text">Powered by QMATIC Orchestra 6.2 [3.2.0.244]   Licensed to Mozart show room</p>
    </div>
</footer>
    </div>
    
<div id="message" class="qm-messages js-messages">

</div>
<div id="error" class="qm-messages js-errors">

</div>
    <!-- json2.js include for IE7 which does not have native JSON support, see http://www.json.org/js.html for source code and further info -->
<!--[if lt IE 8]>
<script type="text/javascript" src="scripts/core/json2.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script type="text/javascript" src="scripts/core/rest-ie.js"></script>
<![endif]-->


