<div class="qm-standard-text-field qm-standard-text-field--large" *ngIf="titleEnabled">
  <label class="qm-standard-text-field__label">
    <span class="qm-standard-text-field__top-container">
      <span class="qm-standard-text-field__text">
        {{ 'label.appointmentTitle.heading' | translate }}
      </span>
    </span>
    <div class="qm-standard-text-field__input-container">
      <input
      type="text"
      id="appointmentTitle"
      class="qm-input qm-standard-text-field__input"
      placeholder="{{ 'label.appointmentTitle.input.placeholder' | translate }}"
      name="appointmentTitle"
      maxlength="{{ titleMaxLength }}"
      [ngModel]="title"
      (input)="updateTitle(appointmentTitle.value); autoCloseService.refreshAutoClose()"
      #appointmentTitle="ngModel"
      qmMaxLengthValidator="{{ titleMaxLength }}" />
      <button *ngIf="title.length > 0" class="qm-action-btn qm-action-btn--only-icon qm-standard-text-field__btn qm-standard-text-field__btn--clear" (click)="handleClear()">
        <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-standard-text-field__icon"></i>
        <span class="sr-only">{{ 'button.appointmentTitle.clear' | translate }}</span>
      </button>
    </div>
    <span class="qm-standard-text-field__error-message">{{ appointmentTitle?.errors?.maxlength.value | async }}</span>
  </label>
</div>
