@import '../../../../styles/base/_component-manifest.scss';

:host {
  display: block;
  margin-bottom: rem($standard-margin * 1.5);
}

.qm-standard-text-field {
  @at-root [dir='rtl'] & {
    text-align: right;
  }

  &__label {
    width: 100%;
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(5px);
  }

  &__text {
    font-size: rem(14px);
    line-height: rem(16px);
    color: $dark-transparent62;
  }

  &__required {
    font-size: rem(12px);
    line-height: rem(16px);
    color: $secondary-color;
  }

  &__input-container {
    position: relative;
  }

  &__input {
    width: 100%;
    font-size: rem(18px);
    line-height: 1;
    font-weight: $font-weight-light;
    height: rem(42px);
    padding-right: rem($standard-padding * 2);

    @at-root [dir='rtl'] & {
      padding-right: 0;
      padding-left: rem($standard-padding * 2);
    }

    &[disabled] {
      background: $disabled-background;
    }
  }

  &__btn {
    position: absolute;
    right: rem($base-unit / 2);
    top: 50%;
    transform: translateY(-50%);
    color: $dark-transparent42;

    @at-root [dir='rtl'] & {
      right: auto;
      left: rem($base-unit / 2);
    }

    &--clear {
      z-index: 3;
      .qm-action-btn__icon {
        font-size: rem(18px);
      }
    }
  }

  &__error-message {
    display: inline-block;
    font-size: rem(12px);
    line-height: rem(16px);
    color: $primary-color;
    margin-top: rem(3px);
    min-height: rem(16px);
  }

  // Modifiers

  &--large {
    .qm-standard-text-field__label {
      max-width: rem(270px);
    }

    .qm-standard-text-field__text {
      color: $dark-transparent82;
      font-size: rem(18px);
      line-height: rem(24px);
    }

    .qm-standard-text-field__top-container {
      margin-bottom: rem($standard-margin / 2);
    }
  }

  &--error {
    .qm-standard-text-field__input {
      border: 2px solid $primary-color;
      padding: rem(7px 12px);
    }

    .qm-standard-text-field__error-message {
      visibility: visible;
    }
  }
}
