<section class="qm-customer-card" [dir]="userDirection$ | async" style="display: inline-table">
  <div class="qm-customer-card__content-container" tabindex="0" (click)="updateCustomer()">
    <h1 class="qm-customer-card__headline">
        <span class="qm-customer-card__name" title="{{ customer.name }}">{{ customer.name | truncate: 60}}</span>
    </h1>
    <div class="qm-customer-card__list-container" [ngClass]="{ 'qm-customer-card__list-container--justify-end' : !phoneEnabled && !emailEnabled }">
      <ul class="qm-customer-card__list" *ngIf="phoneEnabled || emailEnabled">
          <li class="qm-customer-card__list-item" *ngIf="phoneEnabled">
              <i class="icon-phone qm-customer-card__list-item-icon" aria-hidden="true"></i>
              <span class="qm-customer-card__list-item-text" title="{{ customer.phone }}">{{ customer.phone }}</span>
          </li>
          <li class="qm-customer-card__list-item" *ngIf="emailEnabled">
              <i class="icon-mail qm-customer-card__list-item-icon" aria-hidden="true"></i>
              <span class="qm-customer-card__list-item-text" title="{{ customer.email }}">{{ customer.email | truncate: 40 }}</span>
          </li>
      </ul>
      <!-- <button class="qm-action-btn qm-action-btn--only-icon qm-customer-card__edit-btn" title="{{ 'button.customerCard.edit' | translate }}">
        <i class="qm-action-btn__icon icon-edit" aria-hidden="true"></i>
        <span class="sr-only">{{ 'button.customerCard.edit' | translate }}</span>
      </button> -->
    </div>
  </div>
  <div class="qm-customer-card__btn-container" *ngIf="allowClearCustomer">
    <button type="button" class="qm-btn qm-btn--secondary qm-customer-card__btn" (click)="resetCurrentCustomer()">
        <span class="qm-btn__text" title="{{ 'button.customerCard.clear' | translate }}">{{ 'button.customerCard.clear' | translate }}</span>
    </button>
  </div>
</section>
