<qm-list
  [userDirection]="userDirection"
  [itemToScrollTo$]="timeToScrollTo$"
  (sidebar)="handleSidebarClick($event)"
  [searchable]="false"
  [sidebarEnabled]="true"
  [header]="'label.bookingFlow.time.header' | translate">
  <li *ngFor="let timeslot of times$ | async">
    <qm-list-item
      [text]="getTimeAsDate(timeslot) | date:getTimeFormat()"
      [userDirection]="userDirection"
      [name]="'time'"
      [time]="timeslot"
      [isSelected]="isTimeslotSelected(timeslot)"
      [inputType]="'radio'"
      [centerText]="true"
      (optionClicked)="handleTimeslotSelection(timeslot)">
    </qm-list-item>
  </li>
</qm-list>
