<div class="qm-appointment-card" [dir]="userDirection">
  <div class="qm-appointment-card__content-container">
    <span class="qm-appointment-card__headline-container">
      <span class="qm-appointment-card__headline">
        {{ appointment.start | amTz: appointment.branch.fullTimeZone | amDateFormat: 'dddd D MMMM' }}
      </span>
      <span class="qm-appointment-card__time">
        <i class="qm-appointment-card__time-icon icon-clock" aria-hidden="true"></i>
        <span class="qm-appointment-card__time-text">
          {{ appointment.start | amTz: appointment.branch.fullTimeZone | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm a')  }} - {{ appointment.end | amTz: appointment.branch.fullTimeZone | amDateFormat: (isMilitaryTime ? 'HH:mm' : 'hh:mm a') }}
        </span>
      </span>
    </span>
    <qm-appointment-icon-list [userDirection]="userDirection" [appointment]="appointment"></qm-appointment-icon-list>
  </div>
</div>
