<div class="qm-option qm-option--select">
  <label class="qm-option__label" for="{{ setting.name }}">
    {{ 'label.settings.' + setting.name.toLowerCase() | translate}}
  </label>
  <div class="qm-option__selection-container qm-option__selection-container--select-list">
    <ng-select  [clearable]="false" [formControl]="settingControl">
      <ng-option *ngFor="let opt of listCollection" [value]="opt">{{'label.settings.preselect.' + opt.toLowerCase() | translate}}</ng-option>
    </ng-select>
    <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-option__help-btn">
      <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
      <span class="qm-settings-admin__option-list-item__tooltip"> {{ 'label.settings.tooltip.' + setting.name.toLowerCase() | translate}}</span>
    </button>
  </div>
</div>