<header class="qm-header">
    <div class="qm-header__left">
        <a href="/" class="qm-action-btn qm-action-btn--only-icon qm-header__home-btn">
            <i class="qm-action-btn__icon icon-home" aria-hidden="true"></i>
            <span class="sr-only">Home</span>
        </a>
        <div class="qm-header__brand-logo-container">
            <img class="qm-header__brand-logo" src="" alt="" role="presentation"/>
        </div>
        <span class="qm-header__application-name">Staff booking module</span>
    </div>

    <div class="qm-header__right">
        <a href="/help" target="_blank" class="qm-action-btn qm-action-btn--only-icon qm-header__help-btn">
            <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
            <span class="sr-only">Help</span>
        </a>
        <a href="#" class="qm-header__user-name">Bouwdewijn van Duijn</a>
        <a href="/logout.jsp" class="qm-action-btn qm-action-btn--only-icon qm-header__logout-btn">
            <i class="qm-action-btn__icon icon-exit" aria-hidden="true"></i>
            <span class="sr-only">Logout</span>
        </a>
    </div>
</header>
