<header class="qm-header" dir="{{ userDirection$ | async }}">
  <div class="qm-header__left">
    <a href="/" (click)="homeClick($event)" class="qm-action-btn qm-action-btn--only-icon qm-header__home-btn">
      <i class="qm-action-btn__icon icon-home" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.home' | translate }}</span>
    </a>
    <a href="/" class="qm-header__brand-logo-container" (click)="homeClick($event)">
      <img class="qm-header__brand-logo" [src]="brandLogoSrc" alt="" role="presentation" />
      <span class="sr-only">{{ 'label.home' | translate }}</span>
    </a>
    <span class="qm-header__application-name">{{ 'label.application.name' | translate }}</span>
  </div>

  <div class="qm-header__right">
    <a  (click)="navigateToSettings($event)" href="/settings-admin" 
      *ngIf="userIsAdmin$ | async as userIsAdmin"
      [ngClass]="{'qm-header__settings-admin-active' : isPreventHeaderNavigations}" 
      class="qm-action-btn qm-action-btn--only-icon qm-header__settings-btn">
      <i class="qm-action-btn__icon icon-gears" aria-hidden="true"></i>
      <span>{{ 'label.settings' | translate }}</span>
    </a>

    <a (click)="navigateBackToAppointment($event)" href="/app" *ngIf="this.route.snapshot.url[0].path === 'settings-admin'" class="qm-action-btn qm-action-btn--only-icon qm-header__settings-back-btn">
      <i class="qm-action-btn__icon icon-caret-left" aria-hidden="true"></i>
      <span>{{ 'label.settings.backto.appointment' | translate }}</span>
    </a>
    <a href="/help" (click)="helpClick($event)" target="_blank" class="qm-action-btn qm-action-btn--only-icon qm-header__help-btn">
      <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.help' | translate }}</span>
    </a>
    <span class="qm-header__user-name">{{userFullName$ | async}}</span>
    <a href="/logout.jsp" (click)="logout($event)" class="qm-action-btn qm-action-btn--only-icon qm-header__logout-btn">
      <i class="qm-action-btn__icon icon-exit" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.logout' | translate }}</span>
    </a>
  </div>
</header>
