<header class="qm-header" dir="{{ userDirection$ | async }}">
  <div class="qm-header__left">
    <a href="/" (click)="homeClick($event)" class="qm-action-btn qm-action-btn--only-icon qm-header__home-btn">
      <i class="qm-action-btn__icon icon-home" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.home' | translate }}</span>
    </a>
    <a href="/" class="qm-header__brand-logo-container" (click)="homeClick($event)">
      <img class="qm-header__brand-logo" [src]="brandLogoSrc" alt="" role="presentation" />
      <span class="sr-only">{{ 'label.home' | translate }}</span>
    </a>
    <a href="/" class="qm-header__brand-logo-container" (click)="homeClick($event)">
      <!-- <span class="qm-header__application-name">{{ 'label.application.name' | translate }}</span> -->
      <span class="qm-header__application-name">{{ applicationName }}</span>
    </a>
    <!-- <span class="qm-header__application-name">{{ 'label.application.name' | translate }}</span> -->
    <!-- <span class="qm-header__application-name"><a href="app-history" (click)="navigateToAppHistory($event)" >App History</a></span> -->
  </div>
  

  <div class="qm-header__right">
    <a (click)="navigateToAppHistory($event)" href="app-history"
      [ngClass]="{'qm-header__settings-admin-active' : isPreventHeaderNavigations}"
      class="qm-action-btn qm-action-btn--only-icon qm-header__settings-btn">
      <i class="qm-action-btn__icon icon-wrap-up" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.settings' | translate }}</span>
    </a>

    <a (click)="navigateToAppList($event)" href="/app-list"
      *ngIf="(userIsAdmin$ | async) && hasValidLicense()"
      [ngClass]="{'qm-header__settings-admin-active' : isPreventHeaderNavigations}"
      class="qm-action-btn qm-action-btn--only-icon qm-header__settings-btn">
      <i class="qm-action-btn__icon icon-mark" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.app.list' | translate }}</span>
    </a>


    <a (click)="navigateToSettings($event)" href="/settings-admin"
      *ngIf="(userIsAdmin$ | async) && hasValidLicense()"
      [ngClass]="{'qm-header__settings-admin-active' : isPreventHeaderNavigations}"
      class="qm-action-btn qm-action-btn--only-icon qm-header__settings-btn">
      <i class="qm-action-btn__icon icon-gears" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.settings' | translate }}</span>
    </a>

    <a (click)="navigateBackToAppointment($event); autoCloseService.refreshAutoClose()" href="/app" *ngIf="this.route.snapshot.url[0].path === 'settings-admin'" class="qm-action-btn qm-action-btn--only-icon qm-header__settings-back-btn">
      <i class="qm-action-btn__icon icon-caret-left" aria-hidden="true"></i>
      <span>{{ 'label.settings.backto.appointment' | translate }}</span>
    </a>
    <a href="/help" (click)="autoCloseService.refreshAutoClose()" target="_blank" class="qm-action-btn qm-action-btn--only-icon qm-header__help-btn">
      <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.help' | translate }}</span>
    </a>
    <span class="qm-header__user-name">{{userFullName$ | async}}</span>
    <a href="/logout.jsp" (click)="logout($event); autoCloseService.refreshAutoClose()" class="qm-action-btn qm-action-btn--only-icon qm-header__logout-btn">
      <i class="qm-action-btn__icon icon-exit" aria-hidden="true"></i>
      <span class="sr-only">{{ 'label.logout' | translate }}</span>
    </a>
  </div>
</header>
