<div class="qm-modal qm-add-customer-modal qm-form-modal qm-modal--md" dir="userDirection | async" cdkTrapFocus>
  <form class="qm-modal__box-container">
      <div class="qm-modal__header">
        <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-modal__close-btn" (click)="activeModal.close()">
          <i class="qm-action-btn__icon icon-caret-left" aria-hidden="true"></i>
          <span class="sr-only">{{ 'label.modal.close' | translate }}</span>
        </button>
        <span class="qm-modal__headline">{{ 'label.error.navigateback.header' | translate }}</span>
      </div>
      <div class="qm-modal__body">
        <div class="qm-modal-row">
          <div class="qm-modal-col-12">
           {{ 'label.error.navigateback' | translate}}
          </div>
        </div>
      </div>
      <div class="qm-modal__footer">
        <div class="qm-generic-layout qm-generic-layout--align-right">
          <button type="button" class="qm-btn qm-btn--secondary" (click)="activeModal.close()">
            <span class="qm-btn__text" title="{{ 'button.navigateBack.cancel' | translate }}">
              {{ 'button.navigateBack.cancel' | translate }}
            </span>
          </button>
          <button class="qm-btn qm-btn--primary" (click)="okClicked()">
            <span class="qm-btn__text"  title="{{ 'button.navigateBack.Ok' | translate }}">
              {{ 'button.navigateBack.Ok' | translate }}
            </span>
          </button>
        </div>
      </div>
  </form>
</div>
