<div class="qm-app" dir="{{ userDirection$ | async }}">
  <qm-page-header (clickBackToAppointmentsPage)="clickBackToAppointmentsPage($event)"></qm-page-header>
  <qm-main class="qm-main--scrollable">
    <div class="qm-settings-admin">
      <div class="qm-settings-admin__inner-container">
        <div class="qm-settings-admin__header">
          <h1 class="qm-settings-admin__headline">{{'label.settings.page.title' | translate}}</h1>
          <p class="qm-settings-admin__description">
            {{'label.settings.page.sub.title' | translate}}
          </p>
        </div>
        <div class="qm-settings-admin__body">
          <div class="qm-settings-admin__section" *ngFor="let sc of settingsByCategory$ | async">
            <h2 class="qm-settings-admin__section-headline">
              {{ 'label.settings.category.' + sc.name.toLowerCase() | translate}}
            </h2>
            <hr class="qm-settings-admin__divider" />
            <ul class="qm-settings-admin__option-list">
              <li class="qm-settings-admin__option-list-item" *ngFor="let s of toArray(sc.settings)" [ngSwitch]="s.outputType">
                <ng-container  *ngSwitchCase="'Text'">
                  <qm-settings-textbox 
                  [setting] = "s"
                    [settingControl]="settingsEditForm.controls[s.name]">
                  </qm-settings-textbox>
                </ng-container>
                <ng-container *ngSwitchCase="'Time'">
                  <qm-settings-timeformat settingLabel="{{s.name}}"
                  [setting] = "s" 
                  [settingControl]="settingsEditForm.controls[s.name]"></qm-settings-timeformat>
                </ng-container>

                <ng-container *ngSwitchCase="'Select'">
                    <qm-settings-listbox [settingName]="s.name" 
                    [setting] = "s"
                    [listCollection] = "['NoOption', 'SMS', 'Email', 'EmailandSMS', 'NoNotification']"
                    [settingControl]="settingsEditForm.controls[s.name]"></qm-settings-listbox>
                </ng-container>
                 <ng-container *ngSwitchCase="'Boolean'">
                     <div  class="qm-option qm-option--checkbox" 
                     qm-settings-checkbox (settingSelect)="handleSettingSelect($event)"
                        [setting] = "s"
                        [settingControl]="settingsEditForm.controls[s.name]">

                     </div>
                    </ng-container>

                <ul class="qm-settings-admin__option-list qm-settings-admin__option-list--child">
                  <li class="qm-settings-admin__option-list-item" *ngFor="let c of toArray(s.children)" [ngSwitch]="c.outputType">
                    <ng-container  *ngSwitchCase="'Text'">
                      <qm-settings-textbox 
                        [setting] = "c"
                        [settingControl]="settingsEditForm.controls[c.name]">
                      </qm-settings-textbox>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Boolean'">
                      <div class="qm-option qm-option--checkbox"
                            qm-settings-checkbox
                            [setting] = "c"
                            [settingControl]="settingsEditForm.controls[c.name]">
                      </div>
                    </ng-container>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="qm-settings-admin__footer">
          <hr class="qm-settings-admin__divider" />
          <div class="qm-settings-admin__footer-information-container">
            <i class="qm-settings-admin__changes-icon icon-info" aria-hidden="true"></i>
            <p class="qm-settings-admin__footer-information">
              {{ 'label.settings.admin.warning' | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="qm-settings-admin__action-container">
        <button type="button" class="qm-btn qm-btn--secondary">
          <span class="qm-btn__text" (click)="cancelEdit()" title="{{ 'button.settings.cancel' | translate }}">{{ 'button.settings.cancel' | translate }}</span>
        </button>
        <button class="qm-btn qm-btn--primary" (click)="saveSettings()" [disabled]="!settingsEditForm.valid">
          <span class="qm-btn__text" title="{{ 'button.settings.confirm' | translate }}">{{ 'button.settings.confirm' | translate }}</span>
        </button>
      </div>
    </div>
  </qm-main>
  <qm-page-footer></qm-page-footer>
</div>
<div class="qm-messages" toastContainer dir="{{ userDirection$ | async }}">
</div>
<!-- json2.js include for IE7 which does not have native JSON support, see http://www.json.org/js.html for source code and further info -->
<!--[if lt IE 8]>
<script type="text/javascript" src="scripts/core/json2.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script type="text/javascript" src="scripts/core/rest-ie.js"></script>
<![endif]-->