@import '../../../../styles/base/_component-manifest.scss';
.qm-settings-admin {
    margin: rem($base-unit $base-unit * 4);
    background-color: $white;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: rem($standard-border-radius $standard-border-radius 0 0);
}