@import '../../../../styles/base/_component-manifest.scss';

.qm-booking-footer {
  flex: 0 0 auto;

  &__content {
    padding: rem($standard-padding 0 $standard-padding / 2);
  }

  .qm-btn {
    min-width: rem(164px);
  }
}
