<div class="qm-booking-footer">
  <div class="qm-booking-footer__content qm-generic-layout qm-generic-layout--align-right">
    <button class="qm-btn qm-btn--secondary">
      <span class="qm-btn__text" title="{{ 'button.bookingFooter.clear.all' | translate }}">{{ 'button.bookingFooter.clear.all' | translate }}</span>
    </button>

    <button class="qm-btn qm-btn--primary" [disabled]="isConfirmDisabled()" (click)="handleBooking()">
      <span class="qm-btn__text" title="{{ 'button.bookingFooter.confirm' | translate }}">{{ 'button.bookingFooter.confirm' | translate }}</span>
    </button>
  </div>
</div>
