<div class="qm-selector-item" [ngClass]="{'qm-selector-item--centered': centerText, 'qm-selector-item--time': isTimeItem()}" [dir]="userDirection">
    <label class="qm-selector-item__label">
        <input class="qm-selector-item__input"
          type="{{ inputType }}"
          name="{{ name }}"
          [checked]="isSelected"
          (click)="handleClick($event)" (input)="autoCloseService.refreshAutoClose()" />
        <span class="qm-selector-item__selector">
            <span class="qm-selector-item__selector-text" [attr.title]="title !== '' ? title : null">
                {{ text }}
            </span>
            <i *ngIf="inputType === 'checkbox'" class="qm-selector-item__selector-icon" aria-hidden="true"></i>
        </span>
    </label>
</div>
