<ul class="qm-icon-list">
  <li class="qm-icon-list-item">
    <i class="qm-icon-list-item__icon icon-clock" aria-hidden="true"></i>
    <div class="qm-icon-list-item__text-container">
      <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="3:00 pm - 3:30 pm">3:00 pm - 3:30 pm</span>
    </div>
  </li>

  <li class="qm-icon-list-item">
    <i class="qm-icon-list-item__icon icon-service-solid" aria-hidden="true"></i>
    <div class="qm-icon-list-item__text-container">
      <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Customer Service">Customer Service</span>
    </div>
  </li>

  <li class="qm-icon-list-item">
    <i class="qm-icon-list-item__icon icon-home" aria-hidden="true"></i>
    <div class="qm-icon-list-item__text-container">
      <span class="qm-icon-list-item__text qm-icon-list-item__text--emphasis" title="Femman">Femman</span>
      <span class="qm-icon-list-item__text">Östra Hamngatan 15</span>
    </div>
  </li>
</ul>
