<div class="qm-modal qm-notification-modal" [dir]="userDirection$ | async" cdkTrapFocus>
  <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
    <div class="qm-modal__header qm-notification-modal__header">
      <span class="qm-modal__headline qm-notification-modal__headline">
        <ng-container *ngIf="typeToEdit === 'sms'">
          {{ 'label.notificationForm.heading.missing.sms' | translate }}
        </ng-container>
        <ng-container *ngIf="typeToEdit === 'email'">
          {{ 'label.notificationForm.heading.missing.email' | translate }}
        </ng-container>
        <ng-container *ngIf="typeToEdit === 'both'">
          {{ 'label.notificationForm.heading.missing.smsAndEmail' | translate }}
        </ng-container>
      </span>
    </div>
    <div class="qm-modal__body qm-notification-modal__body">
      <!-- Phone number field -->
      <div class="qm-standard-text-field" *ngIf="includePhoneField()">
        <label class="qm-standard-text-field__label">
          <span class="qm-standard-text-field__top-container">
            <span class="qm-standard-text-field__text">{{ 'field.notificationForm.phone' | translate }}</span>
            <span class="qm-standard-text-field__required">{{ 'label.form.required' | translate }}</span>
          </span>
          <input id="notificationPhone"
                  type="tel"
                  class="qm-input qm-standard-text-field__input"
                  autocomplete="tel"
                  placeholder=""
                  maxlength="50"
                  dir="ltr"
                  name="notificationPhone"
                  required
                  formControlName="notificationPhone"
                  (input)="autoCloseService.refreshAutoClose()" />
          <span class="qm-standard-text-field__error-message">
            <ng-container *ngIf="notificationPhone.invalid && (notificationPhone.dirty || notificationPhone.touched)">
              <ng-container *ngIf="notificationPhone.errors?.required">
                {{ 'error.form.phone.required' | translate }}
              </ng-container>
              <ng-container *ngIf="notificationPhone.errors?.pattern && !notificationPhone.errors?.required">
                {{ 'error.form.phone.invalid' | translate }}
              </ng-container>
              <ng-container *ngIf="notificationPhone.errors?.allwhitespace">
                {{ 'field.createCustomerForm.phone.error.allwhitespace' | translate }}
              </ng-container>
            </ng-container>
          </span>
        </label>
      </div>
      <!-- Email field -->
      <div class="qm-standard-text-field" *ngIf="includeEmailField()">
        <label class="qm-standard-text-field__label">
          <span class="qm-standard-text-field__top-container">
            <span class="qm-standard-text-field__text">{{ 'field.notificationForm.email' | translate }}</span>
            <span class="qm-standard-text-field__required">{{ 'label.form.required' | translate }}</span>
          </span>
          <input id="notificationEmail"
                  type="email"
                  class="qm-input qm-standard-text-field__input"
                  autocomplete="email"
                  placeholder=""
                  required
                  name="notificationEmail"
                  formControlName="notificationEmail"
                  (input)="autoCloseService.refreshAutoClose()" />
          <span class="qm-standard-text-field__error-message">
            <ng-container *ngIf="notificationEmail.invalid && (notificationEmail.dirty || notificationEmail.touched)">
              <ng-container *ngIf="notificationEmail.errors.required">
                {{ 'error.form.email.required' | translate }}
              </ng-container>
              <ng-container *ngIf="notificationEmail.errors.pattern && !notificationEmail.errors.required">
                {{ 'error.form.email.invalid' | translate }}
              </ng-container>
            </ng-container>
          </span>
        </label>
      </div>
      <div class="qm-notification-modal__save-to-customer-option">
        <qm-standard-checkbox [userDirection]="userDirection$ | async" [name]="'savetocustomer'" (optionChanged)="handleSaveToCustomerChange($event)">{{ 'label.notificationForm.save.to.customer.object' | translate }}</qm-standard-checkbox>
      </div>
    </div>
    <div class="qm-modal__footer qm-notification-modal__footer">
      <button type="button" class="qm-btn qm-btn--secondary" (click)="activeModal.close()">
        <span class="qm-btn__text" title="{{ 'button.notificationForm.cancel' | translate }}">{{ 'button.notificationForm.cancel' | translate }}</span>
      </button>
      <button class="qm-btn qm-btn--primary" [disabled]="!notificationForm.valid">
        <span class="qm-btn__text" title="{{ 'button.notificationForm.save.and.finish' | translate }}" >{{ 'button.notificationForm.save.and.finish' | translate }}</span>
      </button>
    </div>
  </form>
</div>
