<div class="qm-standard-radio" [dir]="userDirection">
  <label class="qm-standard-radio__label">
    <input
      type="radio"
      class="qm-standard-radio__input"
      [name]="name"
      [value]="value"
      [checked]="isSelected"
      (click)="handleClick(value)"
      #radioInput />
    <span class="qm-standard-radio__selector">
      <i class="qm-standard-radio__icon icomoon-styles" aria-hidden="true"></i>
      <span class="qm-standard-radio__text" title="{{ tooltip }}">{{ text }}</span>
    </span>
  </label>
</div>
