.qm-hide {
  display: none !important;
}

.sr-only {
  @include sr-only()
}

.qm-full-height {
  height: 100%;
}

.qm-emphasis {
  font-weight: $font-weight-medium;
}

.qm-underline {
  text-decoration: underline;
}

.qm-highlight {
  font-weight: $font-weight-medium;
  text-decoration: underline;
}
